<style scoped>
header {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-wrapper .sub-title {
  font-size: 36px;
}

.header-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

header h1 {
  letter-spacing: 12px;
  margin-top: 6vh;
}

header h1::before {
  content: "-";
}

header h1::after {
  content: "-";
}

#rooms h1 {
    color: white;
}

#rooms .v-card {
    background: #49416b !important;
    border-radius: 12px;
    widows: 100%;
    margin: 6px 7px !important;
}

#rooms .card-group {
    padding: 12px;
}

#rooms .card-main-content {
    background: white;
    max-width: 500px;
    min-width: 500px;
}

#room .roomImg {
    padding: 22%;
    margin-right: 1000px;
}

#rooms .card-title {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

#rooms .card-main-content p {
    color: #3b16e0;
}
</style>
<template>
  <section id="rooms">
    <header class="overflow-hidden">
      <div class="container header-wrapper">
        <div class="content-wrapper">
          <h1 class="main-title">Tous nos rooms</h1>
        </div>
      </div>
    </header>
    <v-container>
      <v-row dense v-if='rooms.length'>
        <v-col
          v-for="room in rooms"
          :key="room.id"
          cols="12"
        >
          <v-card class="mx-auto my-12 v-card">
            <div class="card-group d-flex flex-no-wrap justify-space-between">
              <div 
              class=" card-main-content rounded-lg text-center ma-4"
              >
                <v-card-title class="mb-3 card-title">
                  {{ room.name }}
                </v-card-title>
                  <button class="buttonCustom mb-3" @click="selectRoom(room.id, room.name)">
                      <div class="height-fix">
                          <v-icon color="white"
                              >mdi-information</v-icon
                          >
                          Infos et réservation
                      </div>
                  </button>
                  <v-card-text>
                      <div v-if="room.description.length <= 400">
                          <p>{{ room.description }}</p>
                      </div>
                      <div v-if="room.description.length > 400">
                          <p>{{ room.description.substring(0,400)+".."  }}</p>
                      </div>
                      <div >
                        <div class="card-text">
                        <small class="text-muted">
                          <v-icon color="#39305E">mdi-account-multiple</v-icon>
                          2 to {{room.maxPlayer}} players
                        </small>
                        </div>
                        <div class="card-text">
                        <small class="text-muted">
                          <v-icon color="#39305E">mdi-timer-sand</v-icon>
                          60 minutes
                        </small>
                        </div>
                      </div>
                      
                  </v-card-text>
              </div>
              <div class="roomImg">
                <img 
                class="mr-4 rounded-lg"
                width="100%"
                height="100%"
                :src="room.imgUrl" 
                v-if="room.imgUrl" />
                <img
                class="mr-4 rounded-lg"
                width="100%"
                height="100%"
                src="../../assets/img/room_img.png" 
                v-if="!room.imgUrl" />
              </div>
            </div>
          </v-card>
        </v-col>
        </v-row>
        <div v-else>
          <p>Loading...</p>
        </div>
    </v-container>
  </section>
</template>

<script>
import axios from "axios";
export default {
  name: "Rooms",
    data: () => ({
        rooms: [],
    }),
    async mounted() {
        try {
            const getRooms = await axios.get("rooms/", {
                transformRequest: (data, headers) => {
                    delete headers.common['Authorization'];
                    return data;
                    }
                }
            )
            .catch(err => {
                if (err.response.status === 404) {
                    this.$router.push({name: 'Page404'})
                    console.error((`${err.config.url} not found`))
                    }
                })
            if(getRooms) {
                this.rooms = getRooms.data
                console.log("room", this.rooms)
            }
        } catch (err) {
            console.error(err);
        }
    },
    methods: {
        selectRoom: function(id, name) {
            this.$router.push({name: 'Room', params: {id: id, name: name}}).catch(()=>{});
        },
    }
};
</script>
