<style scoped>

#room h1 {
    color: white;
}

#room .v-card {
    background: #49416b !important;
    border-radius: 12px;
    margin: 25px 0px !important;
}

#room .card-group {
    padding: 20px;
}

#room .card-main-content {
    background: white;
}

#room .roomImg {
    width: 100%;
    max-height: 450px;
}

#room h2 {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

#room .card-main-content p {
    color: #3b16e0;
}

#room .roomParams p {
    color: black !important;
    font-weight: bold;
}


@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }

    .content-wrapper button {
        margin: 0 auto;
    }
}
</style>
<template>
    <div>
        <section id="room">
            <v-container> 
                <v-row>
                    <div>
                        <div class="card v-card">
                            <div class="card-group" v-if='room'>
                                <div>
                                    <img 
                                    class="rounded-lg mb-3 roomImg" 
                                    :src="room.imgUrl"
                                    v-if="room.imgUrl" />
                                    <img 
                                    class="rounded-lg mb-3 roomImg" 
                                    src="../../assets/img/room_img.png"
                                    v-if="!room.imgUrl" />
                                </div>
                                <div class="card-main-content rounded-lg text-center pa-4">
                                    <h2 class="mb-3">{{ room.name }}</h2>
                                    <button class="buttonCustom mb-3" @click="reserveRoom(room.id, room.name)">
                                        <div class="height-fix">
                                            <v-icon color="white">mdi-calendar-clock</v-icon>
                                            RESERVER MAINTENANT
                                        </div>
                                    </button>
                                    <div class="card-body">
                                        <p class="card-text">{{ room.description }}</p>
                                        <div class="roomParams">
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    <v-icon color="black">mdi-map-marker</v-icon>
                                                    {{room.location}}
                                                </small>
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    <v-icon color="black">mdi-account-multiple</v-icon>
                                                    2 to {{room.maxPlayer}} players
                                                </small>
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    <v-icon color="black">mdi-timer-sand</v-icon>
                                                    60 minutes
                                                </small>
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">
                                                    <v-icon color="black">mdi-cash</v-icon>
                                                    {{room.price}}€ per player
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-else>
                                <p>Loading...</p>
                            </div>
                        </div>
                    </div>
                </v-row>
            </v-container>
        </section>
    </div>
</template> 

<script>
import axios from "axios";
export default {
    name: "Room",
    props: ['name', 'id'],
    data: () => ({
        room: null,
    }),
    watch: {
        id: {
                immediate: true,
                handler() {
                    this.roomId = this.id;
                }
            },
        $route(to, from){
            console.log('to', to, 'from', from)
        }
    },
    async mounted() {
        try {
            const getRoom = await axios.get("rooms/"+ this.roomId, {
                transformRequest: (data, headers) => {
                    delete headers.common['Authorization'];
                    return data;
                    }
                }
            )
            .catch(err => {
                if (err.response.status === 404) {
                    this.$router.push({name: 'Page404'})
                    console.error((`${err.config.url} not found`))
                    }
                })
            if(getRoom) {
                this.room = getRoom.data
                console.log("room", this.room)
            }
        } catch (err) {
            console.error(err);
        }
    },
    methods: {
        reserveRoom: function(id, name) {
            this.$router.push({name: 'Reservation', params: {id: id, name: name}})
        },
    }
}; 
</script>
