<style scoped lang="scss">
#rooms h1 {
    color: white;
}

#rooms .v-card {
    background: #49416b !important;
    border-radius: 12px;
    margin: 6px 7px !important;
}

#rooms .card-group {
    padding: 12px;
}

#rooms .card-main-content {
    background: white;
    max-height: 500px;
    min-height: 500px;
}

#rooms .card-title {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

#rooms .card-main-content p {
    color: #3b16e0;
}
</style>
<template>
    <section id="rooms">
        <v-container>
            <v-row>
                <v-col v-for="k in 1" :key="k" md="12">
                    <h1 class="text-center">-Nos Rooms -</h1>
                </v-col>
            </v-row>
            <v-row v-if='rooms.length'>
                <div v-for="room in rooms" :key="room.id">
                    <v-card class="mx-auto my-12" max-width="374">
                        <div class="card-group">
                            <div>
                                <img 
                                class="mb-4 rounded-lg"
                                height="250" 
                                :src="room.imgUrl" 
                                width="100%" 
                                v-if="room.imgUrl" />
                                <img
                                class="mb-4 rounded-lg"
                                height="250" 
                                src="../../assets/img/room_img.png" 
                                width="100%" 
                                v-if="!room.imgUrl" />
                            </div>
                            <div 
                            class=" card-main-content rounded-lg text-center pa-4"
                            >
                                <v-card-title class="mb-3 card-title">{{ room.name }}</v-card-title>
                                <button class="buttonCustom mb-3" @click="selectRoom(room.id, room.name)">
                                    <div class="height-fix">
                                        <v-icon color="white"
                                            >mdi-information</v-icon
                                        >
                                        Infos et réservation
                                    </div>
                                </button>
                                <v-card-text>
                                    <div v-if="room.description.length <= 400">
                                        <p>{{ room.description }}</p>
                                    </div>
                                    <div v-if="room.description.length > 400">
                                        <p>{{ room.description.substring(0,400)+".."  }}</p>
                                    </div>
                                </v-card-text>
                            </div>
                        </div>
                    </v-card>
                </div>
            </v-row>
            <div v-else>
                <p>Loading...</p>
            </div>
        </v-container>
    </section>
</template>

<script>
import axios from "axios";
export default {
    name: "RoomCard",
    data: () => ({
        justify: ["center"],
        rooms: [],
    }),

    async created() {
        try {
            const getRooms = await axios.get("rooms/", {
                transformRequest: (data, headers) => {
                    delete headers.common['Authorization'];
                    return data;
                    }
                }
            )
            .catch(err => {
                if (err.response.status === 404) {
                    this.$router.push({name: 'Page404'})
                    console.error((`${err.config.url} not found`))
                    }
                })
            if(getRooms) {
                this.rooms = getRooms.data
                console.log("room", this.rooms)
            }
        } catch (err) {
            console.error(err);
        }
    },
    methods: {
        selectRoom: function(id, name) {
            this.$router.push({name: 'Room', params: {id: id, name: name}})
        },
    }
    
};
</script>
