<style scoped>
.modal {
    position: fixed;
    z-index: 999;
    top: 20%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
</style>

<template>
    <div v-if="!user">
        <v-btn icon class="ml-6" @click.stop="dialog = true">
            <v-icon v-if="!isMobile()" color="white">mdi-account-circle</v-icon>
        </v-btn>
        <v-btn icon @click.stop="dialog = true">
            <v-icon v-if="isMobile()" color="black">mdi-account-circle</v-icon>
        </v-btn>

        <v-dialog
            v-model="dialog"
            transition="dialog-top-transition"
            max-width="400"
        >
            <v-card>
                <v-card-title
                    class="justify-center"
                    primary-title
                    style="
                        padding-bottom: 0px;
                        margin-bottom: 20px;
                        margin-top: 30px;
                        color: #6b4bfa;
                    "
                >
                    Se connecter
                </v-card-title>
                <v-card-text>
                    <v-form
                        ref="loginForm"
                        lazy-validation
                        @submit.prevent="handleSubmit"
                    >
                        <v-row>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="email"
                                    :rules="emailRules"
                                    placeholder="E-mail"
                                    color="deep-purple"
                                    label="E-mail"
                                    required
                                    dense
                                    outlined
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <v-text-field
                                    v-model="password"
                                    type="password"
                                    label="Mot de passe*"
                                    placeholder="Mot de passe*"
                                    hint="Au moins 8 characters"
                                    :rules="passwordRules"
                                    color="deep-purple"
                                    counter
                                    required
                                    dense
                                    outlined
                                ></v-text-field>
                            </v-col>
                            <v-row class="ma-2" v-if="resultBool">
                                <v-alert dense outlined type="error">
                                    {{ errors }}
                                </v-alert>
                            </v-row>
                            <v-col cols="12" style="padding-top: 0px">
                                <v-btn
                                    color="deep-purple"
                                    small
                                    text
                                    tile
                                    @click="forgottenPassword"
                                >
                                    Mot de passe oublié ?
                                </v-btn>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions class="pb-5">
                    <v-spacer></v-spacer>
                    <v-btn
                        color="deep-purple"
                        style="color: white"
                        @click="handleSubmit"
                    >
                        Se connecter
                    </v-btn>
                    <br />
                    <v-divider class="mx-4"></v-divider>
                    <br />
                    <v-btn
                        @click="register"
                        color="deep-purple"
                        style="color: white"
                        text
                    >
                        Pas de compte ?
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import axios from "axios";

export default {
    data: () => ({
        password: "",
        errors: "",
        email: "",
        resultBool: false,
        dialog: false,
        user: false,

        emailRules: [
            (v) => !!v || "Obligatoire",
            (v) => /.+@.+\..+/.test(v) || "E-mail doit être valide",
        ],
        passwordRules: [
            (v) => !!v || "Obligatoire",
            (v) => (v && v.length >= 8) || "Min 8 characters",
        ],
    }),
    methods: {
        isMobile() {
            return this.$vuetify.breakpoint.xsOnly;
        },
        async handleSubmit() {
            delete axios.defaults.headers.common["Authorization"];
            if (this.email && this.password) {
                try {
                    const response = await axios.post("login", {
                        email: this.email,
                        password: this.password,
                    });
                    localStorage.setItem("token", response.data.token);
                    this.dialog = false;
                    console.log("......response", response);
                    console.log("......response.data", response.data);
                    console.log(
                        "......response.data.token",
                        response.data.token
                    );
                    // this.show1 = false;
                    this.$forceUpdate();
                    this.$router.go();
                    this.$router.push("/");
                } catch (error) {
                    this.resultBool = true;
                    this.errors = "Oups, vos identifiants sont incorrects !";
                    console.log("error", this.errors);
                }
            } else {
                console.log("else", this.response, this.email, this.password);
                this.resultBool = true;
                this.errors = "Oups, oubliez pas de remplir tous les champs !";
            }
        },
        forgottenPassword() {
            if (this.$route.path != "/forgotten-password") {
                this.dialog = false;
                this.$router.push({ name: "ForgottenPassword" });
            }
        },
        register: function () {
            if (this.$route.path != "/register") {
                this.dialog = false;
                this.$router.push({ name: "Register" });
            }
        },
    },
};
</script>
