<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "-";
}

header h1::after {
    content: "-";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#form {
    height: 100vh;
    padding: auto;
}

.customButton {
    width: 100%;
    height: 55px;
    background: #38a294;
    background: #38a294 !important;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff;
    color: #fff !important;
    margin-top: 20px;
    cursor: pointer;
}

.customButton:disabled,
.customButton[disabled]{
    border: 1px solid #999999;
    background-color: grey;
    color: #666666 ;
    cursor: default;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>
<template>
    <div>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">Vos coordonnées</h1>
                </div>
            </div>
        </header>
        <section>
            <v-form
                ref="form"
                v-model="valid"
                @submit.prevent
            >
                <v-container id="form">
                    <v-row no-gutters>
                        <v-col cols="12" md="5">
                            <v-subheader class="label">
                                <p>Nom*</p>
                            </v-subheader>
                            <v-text-field
                                v-model="lastname"
                                :rules="nameRules"
                                placeholder="Nom"
                                color="deep-purple"
                                background-color="white"
                                required
                                filled
                                rounded
                                dense
                                outlined
                            ></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="12" md="5">
                            <v-subheader class="label">
                                <p>Prénom*</p>
                            </v-subheader>
                            <v-text-field
                                v-model="firstname"
                                :rules="nameRules"
                                placeholder="Prénom"
                                required
                                color="deep-purple"
                                background-color="white"
                                filled
                                rounded
                                dense
                                outlined
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row no-gutters>
                        <v-col cols="12" md="5">
                            <v-subheader class="label">
                                <p>Téléphone*</p>
                            </v-subheader>
                            <v-text-field
                                v-model="phone"
                                :rules="phoneRules"
                                placeholder="Téléphone"
                                color="deep-purple"
                                background-color="white"
                                required
                                filled
                                rounded
                                dense
                                outlined
                            ></v-text-field>
                        </v-col>
                        <v-spacer></v-spacer>
                        <v-col cols="12" md="5">
                            <v-subheader class="label">
                                <p>E-mail*</p>
                            </v-subheader>
                            <v-text-field
                                v-model="email"
                                :rules="emailRules"
                                placeholder="E-mail"
                                required
                                color="deep-purple"
                                background-color="white"
                                filled
                                rounded
                                dense
                                outlined
                            ></v-text-field>
                        </v-col>
                    </v-row>
                    <v-row no-gutters>
                        <v-col col="12">
                            <v-subheader class="label">
                                <p>Message*</p>
                            </v-subheader>
                            <v-textarea
                                required
                                color="deep-purple"
                                background-color="white"
                                filled
                                v-model="message"
                                :rules="messageRules"
                                rounded
                                dense
                                outlined
                            ></v-textarea>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-snackbar
                            v-model="snackbar"
                            :color="snackbarColor"
                            rounded="pill"
                            elevation="24"
                        >
                            {{ textSnackbar }}

                            <template v-slot:action="{ attrs }">
                                <v-btn color="Close" text v-bind="attrs" @click="snackbar = false">
                                    Fermer
                                </v-btn>
                            </template>
                        </v-snackbar>
                        <v-col cols="12">
                            <v-btn
                                :disabled="!valid"
                                @click="submit"
                                class="customButton"
                            >Envoyer</v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
        </section>
    </div>
</template>

<script>
import axios from "axios";

export default {
    name: "Contact",
    data: () => ({
        valid: true,
        firstname: "",
        lastname: "",
        nameRules: [
            (v) => !!v || "Obligatoire",
            (v) => /^[A-Za-z ]+$/.test(v) || "Doit être composé uniquement de lettres et d'espace"
        ],
        email: "",
        emailRules: [
            (v) => !!v || "Obligatoire",
            (v) => /.+@.+\..+/.test(v) || "L'email n'est pas valide",
        ],
        phone: "",
        phoneRules: [
            (v) => !!v || "Obligatoire",
            (v) => /([+\d]{12,})|([0-9]{10,})/.test(v) || "Téléphone inccorect"
        ],
        message: "",
        messageRules: [
            (v) => !!v || "Obligatoire",
        ],
        textSnackbar: "Error",
        snackbar: false,
        snackbarColor: "red",
    }),
    async created() {
        delete axios.defaults.headers.common["Authorization"];
    },
    methods: {
        async submit () {
            let payload = JSON.stringify({
                firstName: this.firstname,
                lastName: this.lastname,
                email: this.email,
                phone: this.phone,
                message: this.message,
            })
            await axios("contact",
                {
                    method: "post",
                    data: payload,
                    headers: {
                        'Content-Type': 'application/json',
                        'Access-Control-Allow-Origin': '*'
                    }
                })
                .then((response) => {
                    console.log("success", response);
                    this.snackbar = true;
                    this.textSnackbar = "Votre message a bien été envoyé."
                    this.snackbarColor = "green";
                })
                .catch((error) => {
                    console.log("error", error);
                    this.snackbar = true;
                    this.textSnackbar = "Erreur lors de l'envoi."
                    this.snackbarColor = "red";
                });
        },
    },
};
</script>
