<style scoped lang="scss">
footer {
    background: #1a0a61;
    padding: 10%;
    color:white;
    height: 100%;
    .container {
        max-width: 1390px;
        height: 100%;
    }

    .footer-list {
        border-left:2px solid white;
        float:left;
        height: 100%;
    }

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .linewhite {
        border-left: 2px solid white;
        height: 240px;
    }

    @media (max-width: 1199.98px) {
        .row {
            margin-top: 15%;
        }
        .footer-card {
            margin-bottom: 15%;
        }

        .cards-footer {
            margin-bottom: 15%;
        }
    }
}
</style>
<template>
    <footer>
        <v-container>
            <div class="d-flex justify-space-around mb-6" flat tile>
                <v-row>
                    <v-col col="4">
                        <h2>Nous contacter</h2>
                        <div class="footer-list">
                            <ul>
                                <li><v-icon color="white">mdi-email</v-icon> test@test.com</li>
                                <li><v-icon color="white">mdi-phone</v-icon>01.02.03.04.05</li>
                                <li><v-icon color="white">mdi-map-marker</v-icon>23 rue voltaire, 75011 Paris</li>
                            </ul>
                        </div>
                    </v-col>
                    <v-col col="4">
                        <h2>Mention légales</h2>
                        <div class="footer-list">
                            <ul>
                                <li>Relations Presse</li>
                                <li>Cookies</li>
                                <li>Mention légales</li>
                                <li>Plan du site</li>
                            </ul>
                        </div>
                    </v-col>
                    <v-col col="4">
                        <h2>Réseaux</h2>
                        <div class="footer-list">
                            <ul>
                                <li><v-icon color="white">mdi-facebook</v-icon> Facebook</li>
                                <li><v-icon color="white">mdi-twitter</v-icon> Twitter</li>
                                <li><v-icon color="white">mdi-instagram</v-icon> Instagram</li>
                                <li><v-icon color="white">mdi-youtube</v-icon>Youtube</li>
                            </ul>
                        </div>
                    </v-col>
                </v-row>
            </div>
        </v-container>
    </footer>
</template>

<script>
export default {
    name: "Footer",
};
</script>
