<style scoped>
header {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-wrapper .sub-title {
  font-size: 36px;
}

.header-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

header h1 {
  letter-spacing: 12px;
  margin-top: 6vh;
}

header h1::before {
  content: "-";
}

header h1::after {
  content: "-";
}

.label p {
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}

#form {
  height: 100vh;
  padding: auto;
}

@media screen and (max-width: 675px) {
  .content-wrapper {
    padding: 0 20px;
    margin-bottom: 100px !important;
  }
}
</style>
<template>
  <div>
    <header class="overflow-hidden">
      <div class="container header-wrapper">
        <div class="content-wrapper">
          <h1 class="main-title">Nous contacter</h1>
        </div>
      </div>
    </header>
    <section>
      <v-form v-model="valid">
        <v-container fill-height>
          <v-row>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Nom*</p>
              </v-subheader>
              <v-text-field
                v-model="lastname"
                :rules="nameRules"
                placeholder="Nom"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Prénom*</p>
              </v-subheader>
              <v-text-field
                v-model="firstname"
                :rules="nameRules"
                placeholder="Prénom"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Téléphone*</p>
              </v-subheader>
              <v-text-field
                v-model="phone"
                :rules="phone"
                placeholder="Téléphone"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>E-mail*</p>
              </v-subheader>
              <v-text-field
                v-model="email"
                :rules="mail"
                placeholder="E-mail"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Adresse*</p>
              </v-subheader>
              <v-text-field
                v-model="adress"
                :rules="adressRules"
                placeholder="Adresse"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="2" lg="2"> </v-col>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Code Postal*</p>
              </v-subheader>
              <v-text-field
                v-model="codePostal"
                :rules="codePostal"
                placeholder="Code Postal"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Ville*</p>
              </v-subheader>
              <v-text-field
                v-model="city"
                :rules="cityRules"
                placeholder="Ville"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Pays*</p>
              </v-subheader>
              <v-text-field
                v-model="country"
                :rules="countryRules"
                placeholder="Pays"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row justify="center" align="center">
            <v-spacer></v-spacer>
            <v-col cols="3">
              <v-btn>
                <div>Submit</div>
              </v-btn>
            </v-col>
            <v-spacer></v-spacer>
          </v-row>
        </v-container>
      </v-form>
    </section>
  </div>
</template>

<script>
export default {
  name: "Contact",

  data: () => ({}),
};
</script>
