<style scoped>
header {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/img/header-homepage.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header .top-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    flex-grow: 1;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
.header-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    flex-grow: 2;
    margin-bottom: 200px;
}

.header-wrapper .content-wrapper .main-title {
    margin-bottom: 16px;
}

header h1 {
    letter-spacing: 12px;
    margin-bottom: 0 !important;
}

#resume {
    padding: 10px 0;
    color: white;
}

#rooms h1 {
    color: white;
}

#rooms .v-card {
    background: #49416b !important;
    border-radius: 12px;
    margin: 6px 7px !important;
}

#rooms .card-group {
    padding: 12px;
}

#rooms .card-main-content {
    background: white;
}

#rooms h2 {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

#rooms .card-main-content p {
    color: #3b16e0;
}

#map {
    color: white;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }

    .content-wrapper button {
        margin: 0 auto;
    }
}
</style>
<template>
    <div>
        <header class="overflow-hidden">
            <div class="top-gradient"></div>
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">
                        GALAXY’S <br />
                        ROOM
                    </h1>
                    <div class="sub-title">Escape Game</div>
                    <div class="separator"></div>
                    <router-link to="/rooms">
                        <button class="buttonCustom">
                            <div class="height-fix">Réservez maintenant</div>
                        </button>
                    </router-link>
                </div>
            </div>
        </header>
        <section id="resume">
            <v-container>
                <v-row v-for="j in justify" :key="j" :justify="j">
                    <v-col v-for="k in 1" :key="k" md="12">
                        <h1 class="text-center">
                            Bienvenue à la Galaxy’s Room
                        </h1>
                        <h2 class="text-center">
                            L’Escape Game Intergalactique
                        </h2>
                    </v-col>
                </v-row>
            </v-container>
        </section>
        <RoomCard />
        <section id="map">
            <v-container>
                <v-row v-for="j in justify" :key="j" :justify="j">
                    <v-col v-for="k in 1" :key="k" md="12">
                        <h1 class="text-center">
                            -242 Rue du Faubourg Saint-Antoine, 75012 Paris -
                        </h1>
                    </v-col>
                </v-row>
                <v-row v-for="j in justify" :key="j" :justify="j">
                    <v-col v-for="k in 1" :key="k" md="12">
                        <iframe
                            width="100%"
                            height="550"
                            style="border: 0"
                            loading="lazy"
                            allowfullscreen
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZ13iR3Ny5kcR94QVE8EiPsc&key=AIzaSyCzBGZnkpqHP-uhRmzLrhrUJnFogE_kx0U"
                        ></iframe>
                    </v-col>
                </v-row>
            </v-container>
        </section>
    </div>
</template>

<script>
import RoomCard from "./room/RoomCard";
export default {
    name: "HomePage",
    components: {
        RoomCard,
    },
    data: () => ({
        justify: ["center"],
    }),
};
</script>
