<style scoped lang="scss">

select {
  width: 200px; 
  justify-content: center;
  color: black !important;
  background-color: white;
}

label {
    color: white;
}

</style>

<template>
    <v-col cols="12">
        <label for="">Horaire</label> <br>
        <select name="hour" id="hour-select" required>
            <option value="11:00:00">11h00 - 12h00</option>
            <option value="12:00:00">12h00 - 13h00</option>
            <option value="13:00:00">13h00 - 14h00</option>
            <option value="14:00:00">14h00 - 15h00</option>
            <option value="15:00:00">15h00 - 16h00</option>
            <option value="16:00:00">16h00 - 17h00</option>
            <option value="17:00:00">17h00 - 18h00</option>
        </select>
    </v-col>
</template>

<script>
export default {
    name: "Hours",
    data: () => ({
        justify: ["center"],
        hours: [],
    }),
    
};
</script>
