<style scoped>
h1 {
    color: white;
}
</style>
<template>
    <div>
        <section id="map">
            <v-container>
                <v-row v-for="j in justify" :key="j" :justify="j">
                    <v-col v-for="k in 1" :key="k" md="12">
                        <h1 class="text-center">
                            -242 Rue du Faubourg Saint-Antoine, 75012 Paris -
                        </h1>
                    </v-col>
                </v-row>
                <v-row v-for="j in justify" :key="j" :justify="j">
                    <v-col v-for="k in 1" :key="k" md="12">
                        <iframe
                            width="100%"
                            height="550"
                            style="border: 0"
                            loading="lazy"
                            allowfullscreen
                            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZ13iR3Ny5kcR94QVE8EiPsc&key=AIzaSyCzBGZnkpqHP-uhRmzLrhrUJnFogE_kx0U"
                        ></iframe>
                    </v-col>
                </v-row>
            </v-container>
        </section>
    </div>
</template>

<script>
export default {
    name: "Map",

    data: () => ({
        justify: ["center"],
    }),
};
</script>
