<style scoped>
header {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-wrapper .sub-title {
  font-size: 36px;
}

.header-wrapper .content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
}

header h1 {
  letter-spacing: 12px;
  margin-top: 6vh;
  text-align: center;
}

header h1::before {
  content: "-";
}

header h1::after {
  content: "-";
}

.label p {
  color: white;
  font-weight: bolder;
  letter-spacing: 2px;
}

#form {
  padding: auto;
}

.v-card {
    background: #49416b !important;
    border-radius: 12px;
    margin: 25px 0px !important;
    width: 100%;
}

.card-group {
    padding: 20px;
    color:#6b4bfa
}

.card-main-content {
    background: white;
}

.card-main-content hr {
  color: #6b4bfa;
  width: 30%;
  margin: auto;
}

.roomImg {
    width: 100%;
    max-height: 450px;
}

h2 {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

.card-main-content p {
    color: #3b16e0;
}

.roomParams .row {
  justify-content: space-around !important;
}

.prix-unitaire {
  color: white;
  justify-content: space-between !important;
  background-color: #505852;
  margin: auto;
  border-radius: 10px;
  width: 85%;
}

.prix {
  justify-content: space-between !important;
}

.prix h2 {
  color: white !important;
}

.CGV {
  color: white;
}

.roomParams p {
    color:#6b4bfa !important;
    font-weight: bold;
}


@media screen and (max-width: 675px) {
  .content-wrapper {
    padding: 0 20px;
    margin-bottom: 100px !important;
  }
}
</style>
<template>
  <div>
    <header class="overflow-hidden mt-5">
      <div class="container header-wrapper">
        <div class="content-wrapper">
          <h1 class="main-title">Récapitulatif de votre commande</h1>
        </div>
      </div>
    </header>
    <section>
      <v-form v-model="valid">
        <v-container id="form">
          <v-row no-gutters>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Nom*</p>
              </v-subheader>
              <v-text-field
                v-model="lastname"
                :rules="nameRules"
                placeholder="Nom"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Prénom*</p>
              </v-subheader>
              <v-text-field
                v-model="firstname"
                :rules="nameRules"
                placeholder="Prénom"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Téléphone*</p>
              </v-subheader>
              <v-text-field
                v-model="phone"
                :rules="phone"
                placeholder="Téléphone"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>E-mail*</p>
              </v-subheader>
              <v-text-field
                v-model="email"
                :rules="mail"
                placeholder="E-mail"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Adresse*</p>
              </v-subheader>
              <v-text-field
                v-model="adress"
                :rules="adressRules"
                placeholder="Adresse"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="2" lg="2"> </v-col>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Code Postal*</p>
              </v-subheader>
              <v-text-field
                v-model="codePostal"
                :rules="codePostal"
                placeholder="Code Postal"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row no-gutters>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Ville*</p>
              </v-subheader>
              <v-text-field
                v-model="city"
                :rules="cityRules"
                placeholder="Ville"
                color="deep-purple"
                background-color="white"
                required
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" md="5">
              <v-subheader class="label">
                <p>Pays*</p>
              </v-subheader>
              <v-text-field
                v-model="country"
                :rules="countryRules"
                placeholder="Pays"
                required
                color="deep-purple"
                background-color="white"
                filled
                rounded
                dense
                outlined
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <h3 style="color: white;">Récapitulatif</h3>
          </v-row>
          <v-row>
            <div class="card v-card">
              <div class="card-group">
                  <div class="card-main-content rounded-lg text-center pa-4">
                      <div class="card-body">
                          <h3 class="mb-5">Planète Y</h3>
                          <hr class="mb-5">
                          <div class="roomParams mt-5">
                            <div class="row mt-5 mb-5">
                              <p class="card-text">
                                  <small class="text-muted">
                                      Date :
                                  </small>
                              </p>
                              <p class="card-text">
                                  <small class="text-muted">
                                      Heure :
                                  </small>
                              </p>
                              <p class="card-text">
                                  <small class="text-muted">
                                      Joueurs : 
                                  </small>
                              </p>
                            </div>
                            <div class="row mt-5 mb-5">
                              <p class="card-text">
                                  <small class="text-muted">
                                      17/02/2022
                                  </small>
                              </p>
                              <p class="card-text">
                                  <small class="text-muted">
                                      18:00
                                  </small>
                              </p>
                              <p class="card-text">
                                  <small class="text-muted">
                                      4 joueurs
                                  </small>
                              </p>
                            </div>
                          </div>
                          <div class="row prix-unitaire">
                            <h3 class="ml-5">Prix : </h3>
                            <h3 class="mr-5">99€</h3>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <v-col cols="12" class="mt-5">
              <div class="row prix">
                <h2>Prix total (TTC) :</h2>
                <h2>99€</h2>
              </div>
            </v-col>
            <v-col cols="12" style="text-align: center;" class="mt-5">
              <button class="buttonCustom">
              <div class="height-fix">Je valide ma commande</div>
            </button>
            </v-col>
          </v-row>
        </v-container>
      </v-form>
    </section>
  </div>
</template>

<script>
export default {
  name: "Contact",

  data: () => ({}),
};
</script>
