<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Prise de contact{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% block body %}
    <h1>Prise de contact</h1>
    <ul>
        <li>Nom: {{ lastname }}</li>
        <li>Prénom: {{ firstname }}</li>
        <li>Téléphone: {{ phone }}</li>
        <li>Email: {{ mil }}</li>
        <li>Message: {{ message }}</li>
    </ul>
{% endblock %}
</body>
</html>
