<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Mot de passe oublié{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
            and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Mot de passe oublié</h1>
        <p> Vous avez oublié votre mot de passe, veuillez trouver votre nouveau mot de passe.
            <b>{{ newPassword }}</b>
        </p>
        {% endblock %}
    </body>
</html>
