<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "-";
}

header h1::after {
    content: "-";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#form {
    height: 100vh;
    padding: auto;
}

.center {
    text-align: center;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

select {
    width: 200px;
    justify-content: center;
    color: black !important;
    background-color: white;
}

#date {
    background-color: white;
}

label {
    color: white;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>
<template>
    <div v-if="user">
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">
                        Modifier une réservation pour {{ room.name }}
                    </h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row class="center">
                        <v-col cols="12">
                            <v-menu
                                v-model="menu2"
                                :close-on-content-click="false"
                                :nudge-right="40"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        v-model="date"
                                        label="Date"
                                        prepend-icon="mdi-calendar"
                                        readonly
                                        required
                                        dark
                                        dense
                                        :rules="dateRules"
                                        solo
                                        v-bind="attrs"
                                        color="#6B4BFA"
                                        v-on="on"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="date"
                                    dark
                                    color="#6B4BFA"
                                    :allowed-dates="allowedDates"
                                    @change="handleDate"
                                    @input="menu2 = false"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col class="d-flex" cols="12">
                            <v-select
                                name="slot"
                                id="slot"
                                prepend-icon="mdi-clock-time-five-outline"
                                required
                                dark
                                :rules="slotRules"
                                color="#6B4BFA"
                                :items="displayedSlots"
                                item-value="id"
                                label="Horaire"
                                dense
                                @change="handleSlot"
                                solo
                                v-model="selectedSlot"
                            >
                                <template slot="selection" slot-scope="data">
                                    {{ getSlotView(data.item) }}
                                </template>
                                <template slot="item" slot-scope="data">
                                    {{ getSlotView(data.item) }}
                                </template>
                            </v-select>
                        </v-col>
                        <v-col class="d-flex" cols="12">
                            <v-select
                                name="quantity"
                                prepend-icon="mdi-account-group-outline"
                                id="quantity-participant"
                                required
                                v-model="selectedQuantity"
                                :rules="quantityRules"
                                dark
                                color="#6B4BFA"
                                :items="quantity_participant"
                                item-text="id"
                                label="Nombre de participants"
                                dense
                                solo
                            ></v-select>
                        </v-col>
                        <v-col cols="12">
                            <v-btn
                                class="buttonCustom mt-10"
                                @click="reserve()"
                                color="BluePrimary"
                            >
                                RESERVER
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>

                <v-snackbar
                    v-model="snackbar"
                    :color="snackbarColor"
                    rounded="pill"
                    elevation="24"
                >
                    {{ textSnackbar }}

                    <template v-slot:action="{ attrs }">
                        <v-btn
                            color="Close"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                        >
                            Fermer
                        </v-btn>
                    </template>
                </v-snackbar>
            </v-container>
        </section>
    </div>

    <div v-else>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">
                        Oops, vous devez être connecté pour accèder à cette page
                        :/
                    </h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-row justify="center" align="center">
                    <v-btn
                        color="deep-purple"
                        style="color: white; margin-right: 5px"
                        @click="login = true"
                    >
                        Se connecter
                    </v-btn>

                    <v-btn
                        @click="register"
                        color="white--text"
                        style="color: white; margin-left: 5px"
                        text
                    >
                        Pas de compte ?
                    </v-btn>
                </v-row>
                <v-dialog
                    v-model="login"
                    transition="dialog-top-transition"
                    max-width="400"
                >
                    <v-card>
                        <v-card-title
                            class="justify-center"
                            primary-title
                            style="
                                padding-bottom: 0px;
                                margin-bottom: 20px;
                                margin-top: 30px;
                                color: #6b4bfa;
                            "
                        >
                            Se connecter
                        </v-card-title>
                        <v-card-text>
                            <v-form
                                ref="loginForm"
                                lazy-validation
                                @submit.prevent="handleSubmit"
                            >
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="email"
                                            :rules="emailRules"
                                            placeholder="E-mail"
                                            color="deep-purple"
                                            label="E-mail"
                                            required
                                            dense
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-text-field
                                            v-model="password"
                                            type="password"
                                            label="Mot de passe*"
                                            placeholder="Mot de passe*"
                                            hint="Au moins 8 characters"
                                            :rules="passwordRules"
                                            color="deep-purple"
                                            counter
                                            required
                                            dense
                                            outlined
                                        ></v-text-field>
                                    </v-col>
                                    <v-row class="ma-2" v-if="resultBool">
                                        <v-alert dense outlined type="error">
                                            {{ errors }}
                                        </v-alert>
                                    </v-row>
                                    <v-col cols="12" style="padding-top: 0px">
                                        <v-btn
                                            color="deep-purple"
                                            small
                                            text
                                            tile
                                        >
                                            Mot de passe oublié ?
                                        </v-btn>
                                    </v-col>
                                </v-row>
                            </v-form>
                        </v-card-text>
                        <v-card-actions class="pb-5">
                            <v-spacer></v-spacer>
                            <v-btn
                                color="deep-purple"
                                style="color: white"
                                @click="handleSubmit"
                            >
                                Se connecter
                            </v-btn>
                            <br />
                            <v-divider class="mx-4"></v-divider>
                            <br />
                            <v-btn
                                @click="register"
                                color="deep-purple"
                                style="color: white"
                                text
                            >
                                Pas de compte ?
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-container>
        </section>
    </div>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
    name: "EditReservation",

    props: ["name", "id"],
    data: () => ({
        reservation: null,
        roomPrice: null,
        room: null,
        date: null,
        dateRules: [(v) => !!v || "Date obligatoire"],
        user: null,
        menu2: false,
        form: null,
        valid: false,
        slots: [],
        login: false,
        selectedSlot: null,
        displayedSlots: [],
        textSnackbar: "Error",
        snackbar: false,
        snackbarColor: "Red",
        email: null,
        password: null,
        resultBool: false,
        initialSlot: null,
        initialQuantity: null,
        slotRules: [(v) => !!v || "Horaire obligatoire"],
        selectedQuantity: null,
        quantityRules: [(v) => !!v || "Nombre de personnes obligatoire"],
        quantity_participant: [],
        emailRules: [
            (v) => !!v || "Obligatoire",
            (v) => /.+@.+\..+/.test(v) || "E-mail doit être valide",
        ],
        passwordRules: [
            (v) => !!v || "Obligatoire",
            (v) => (v && v.length >= 8) || "Min 8 characters",
        ],
    }),
    watch: {
        id: {
            immediate: true,
            handler() {
                // this.roomId = this.id;
            },
        },
        $route(to, from) {
            console.log("to", to, "from", from);
        },
    },
    async beforeCreate() {
        if (localStorage.getItem("token") == null) {
            this.$router.push("/");
        }
    },
    async mounted() {
        const response = await axios.get("me");
        this.user = response.data;
        console.log("The id is: " + this.$route.params.id);
        axios.get("reservations/" + this.$route.params.id)
            .then((reservation) => {
                console.log("reservation courante : ", reservation);
                this.reservation = reservation;
                axios.get(reservation.data.roomId)
                .then((resRoom) => {
                    this.room = resRoom.data;
                    console.log('room',this.room)
                    this.room.timeSlots.forEach((element) => {
                        this.getSlot(element).then((result) => {
                            if (result.available == true) {
                                this.slots.push(result);
                            } else if (
                                result.id ==
                                reservation.data.slotId.split("/")[2]
                            ) {
                                console.log("same");
                                this.initialSlot = result;
                                console.log("result", result);
                                this.date = result.slotStart.split("T")[0];
                                this.displayedSlots.push(result);
                                this.selectedSlot = result;
                            }
                        });
                    });
                    console.log("this room : ", this.room);
                    for (let i = 1; i < resRoom.data.maxPlayers + 1; i++) {
                        this.quantity_participant.push(i);
                    }
                    this.roomPrice = this.room.price
                });
                axios.get(reservation.data.slotId).then((slot) => {
                    this.selectedSlot = slot;
                });
                console.log(
                    "slots: ",
                    this.slots,
                    "quantities: ",
                    this.reservation.data.quantity
                );
                console.log("price", this.roomPrice)
                this.initialQuantity = this.reservation.data.quantity
                // this.selectedSlot = this.slots;
                this.selectedQuantity = reservation.data.quantity;
            })
            .catch((er) => {
                console.log(er);
                this.snackbarColor = "red";
                this.textSnackbar =
                    "Une erreur est survenue durant la récupération de la réservation";
                this.snackbar = true;
            });
    },
    methods: {
        async handleSubmit() {
            delete axios.defaults.headers.common["Authorization"];
            if (this.email && this.password) {
                try {
                    const response = await axios.post("login", {
                        email: this.email,
                        password: this.password,
                    });
                    localStorage.setItem("token", response.data.token);
                    this.dialog = false;
                    console.log("......response", response);
                    console.log("......response.data", response.data);
                    console.log(
                        "......response.data.token",
                        response.data.token
                    );
                    // this.show1 = false;
                    this.$forceUpdate();
                    this.$router.go();
                    this.$router.push("/");
                } catch (error) {
                    this.resultBool = true;
                    this.errors = "Oups, vos identifiants sont incorrects !";
                    console.log("error", this.errors);
                }
            } else {
                console.log("else", this.response, this.email, this.password);
                this.resultBool = true;
                this.errors = "Oups, oubliez pas de remplir tous les champs !";
            }
        },
        register: function () {
            if (this.$route.path != "/register") {
                this.dialog = false;
                this.$router.push({ name: "Register" });
            }
        },
        validate() {
            this.$refs.form.validate();
        },
        reset() {
            this.$refs.form.reset();
        },
        resetValidation() {
            this.$refs.form.resetValidation();
        },
        handleSlot(slot) {
            this.selectedSlot = this.slots.filter((x) => x.id == slot)[0];
        },
        handleDate(date) {
            this.selectedSlot = null;
            this.displayedSlots = [];
            this.slots.forEach((element) => {
                if (
                    element.slotStart.split("T")[0] == date &&
                    (element.available == true ||
                        element.id ==
                            this.reservation.data.slotId.split("/")[2])
                ) {
                    this.displayedSlots.push(element);
                }
            });
        },
        allowedDates(val) {
            let slots = this.slots.map((s) => s.slotStart.split("T")[0]);
            return (
                slots.includes(val) &&
                moment(val).isSameOrAfter(moment().add(2, "days"))
            );
        },
        async getSlot(iri) {
            return await fetch("https://35.187.15.66" + iri, {
                mode: "cors",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
            })
                .then((response) => response.json())
                .then((data) => {
                    return data;
                });
        },
        getSlotDate(slot) {
            //   let d = new Date(slot.slotStart);
            return String(slot.slotStart).split("T")[0];
        },
        getSlotView(slot) {
            return (
                moment(slot.slotStart).format("HH:mm") +
                " - " +
                moment(slot.slotEnd).format("HH:mm")
            );
        },
        async reserve() {
            console.log("global : ", this);
            this.validate();
            if (this.valid == true) {
                if (
                    this.date != this.initialSlot.slotStart.split("T")[0] ||
                    this.reservation.data.quantity != this.selectedQuantity ||
                    this.selectedSlot != this.initialSlot
                ) {
                    await axios
                        .put("/reservations/" + this.$route.params.id, {
                            slotId: "/time_slots/" + this.selectedSlot.id,
                            roomId: "/rooms/" + this.room.id,
                            createdAt: this.reservation.createdAt,
                            clientId: "/users/" + this.user.id,
                            quantity: this.selectedQuantity,
                        })
                        .then((result) => {
                            {
                                console.log("result", result);
                                if (result.status == 200) {
                                    console.log("date", this.selectedSlot.id);
                                    console.log("date", this.initialSlot.id);
                                    if (
                                        this.selectedSlot.id !=
                                        this.initialSlot.id
                                    ) {
                                        console.log("patch slots");
                                        axios
                                            .put(
                                                "/time_slots/" +
                                                    this.initialSlot.id,
                                                {
                                                    slotStart:
                                                        this.initialSlot
                                                            .slotStart,
                                                    slotEnd:
                                                        this.initialSlot
                                                            .slotEnd,
                                                    roomId:
                                                        "/rooms/" +
                                                        this.room.id,

                                                    available: true,
                                                }
                                            )
                                            .then(() => {
                                                axios
                                                    .put(
                                                        "/time_slots/" +
                                                            this.selectedSlot
                                                                .id,
                                                        {
                                                            slotStart:
                                                                this
                                                                    .selectedSlot
                                                                    .slotStart,
                                                            slotEnd:
                                                                this
                                                                    .selectedSlot
                                                                    .slotEnd,
                                                            roomId:
                                                                "/rooms/" +
                                                                this.room.id,

                                                            available: false,
                                                        }
                                                    )
                                                    .then(()=>{
                                                        axios.get("/rooms/"+this.room.id)
                                                    }).then((resRoom) => {
                                                        this.room = resRoom.data
                                                        this.roomPrice = this.room.price
                                                        console.log("new quantity", this.selectedQuantity)
                                                        console.log(this.roomPrice*this.initialQuantity)
                                                        console.log(this.reservation.data.paymentIntent)
                                                        let initTotal = this.roomPrice*this.initialQuantity
                                                        let newTotal = this.selectedQuantity*this.roomPrice
                                                        if(initTotal>newTotal){
                                                            let refund = initTotal-newTotal
                                                            axios.post("http://35.187.15.66:3002/refund", {
                                                                paymentIntent: this.reservation.data.paymentIntent,
                                                                price: refund
                                                            })
                                                        } else if(initTotal<newTotal) {
                                                            axios.post("http://35.187.15.66:3002/refund", {
                                                                paymentIntent: this.reservation.data.paymentIntent,
                                                                price: initTotal
                                                            })
                                                            axios.post("http://35.187.15.66:3002/checkout", {
                                                                price: newTotal,
                                                                name: this.room.name,
                                                                reservationId: this.reservation.data.id,
                                                                description: this.room.description,
                                                                quantity: this.selectedQuantity
                                                            })
                                                        }
                                                    })
                                                    .then(() => {
                                                        this.snackbarColor =
                                                            "green";
                                                        this.textSnackbar =
                                                            "Reservation modifiée !";
                                                        this.snackbar = true;
                                                        this.initialSlot =
                                                            this.selectedSlot;
                                                        // this.resetValidation();
                                                        // this.selectedSlot = null;
                                                        // this.selectedQuantity = null;
                                                        // this.displayedSlots = [];
                                                        // this.date = null;
                                                        // this.slots.splice(
                                                        //   this.slots.indexOf(this.selectedSlot),
                                                        //   1
                                                        // );
                                                        // this.displayedSlots.splice(
                                                        //   this.displayedSlots.indexOf(this.selectedSlot),
                                                        //   1
                                                        // );
                                                    });
                                            })
                                            .catch((er) => {
                                                console.log(er.response);
                                            });
                                    } else {
                                        this.snackbarColor = "green";
                                        this.textSnackbar =
                                            "Reservation modifiée !";
                                        this.initialSlot = this.selectedSlot;
                                        this.snackbar = true;
                                    }
                                }
                            }
                        })
                        .catch((er) => {
                            console.log(er);
                            this.snackbarColor = "red";
                            this.textSnackbar =
                                "Une erreur est survenue durant la reservation";
                            this.snackbar = true;
                        });
                } else {
                    this.snackbarColor = "orange";
                    this.textSnackbar = "Réservation identique";
                    this.snackbar = true;
                }
            }
        },
    },
};
</script>
