<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "";
}

header h1::after {
    content: "";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#form {
    height: 100vh;
    padding: auto;
}
#title-login {
    width: 100%;
    text-align: center;
}
#title-login h2 {
    color: #3b16e0 !important;
    font-family: "Nunito-ExtraBold";
}
#title-login .buttonCustom {
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>

<template>
    <div>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title"></h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-layout wrap>
                    <v-flex sm12 md6 offset-md3>
                        <v-card elevation="4" light tag="section">
                            <v-card-title
                                primary-title
                                class="justify-center"
                                style="padding-bottom: 0px"
                            >
                                <section
                                    id="title-login"
                                    style="
                                        margin-bottom: 20px;
                                        margin-top: 30px;
                                    "
                                >
                                    <h2 class="text-center">Mot de passe oublié</h2>
                                </section>
                            </v-card-title>
                            <v-card-text class="justify-center">
                                <v-form
                                    ref="form"
                                    v-model="valid"
                                    @submit.prevent
                                >
                                    <v-text-field
                                        v-model="email"
                                        :rules="emailRules"
                                        label="E-mail"
                                        required
                                        outline
                                        outlined
                                        type="text"
                                        placeholder="Email"
                                        color="purple darken-2"
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Date de naissance"
                                        type="date"
                                        v-model="birthday"
                                        placeholder="Date de naissance"
                                        :rules="birthdayRules"
                                        outlined
                                        required
                                        color="purple darken-2"
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Téléphone"
                                        type="text"
                                        v-model="phone"
                                        placeholder="Téléphone"
                                        outlined
                                        :rules="phoneRules"
                                        required
                                        color="purple darken-2"
                                    ></v-text-field>
                                    <v-snackbar
                                        v-model="snackbar"
                                        :color="snackbarColor"
                                        rounded="pill"
                                        elevation="24"
                                    >
                                        {{ textSnackbar }}

                                        <template v-slot:action="{ attrs }">
                                            <v-btn color="Close" text v-bind="attrs" @click="snackbar = false">
                                                Fermer
                                            </v-btn>
                                        </template>
                                    </v-snackbar>
                                    <v-col
                                        class="d-flex justify-center"
                                        cols="12"
                                        sm="12"
                                        xsm="12"
                                    >
                                        <v-btn
                                            :disabled="!valid"
                                            color="purple darken-2"
                                            class="buttonCustom mb-3"
                                            @click="submit"
                                        >
                                        Valider
                                        </v-btn>
                                    </v-col>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
    </div>
</template>
<script>
import axios from "axios";
export default {
    name: "ForgottenPassword",
    data: () => ({
        valid: true,
        email: "",
        emailRules: [
            (v) => !!v || "Required",
            (v) => /.+@.+\..+/.test(v) || "l'email n'est pas valide",
        ],
        birthday: "",
        birthdayRules: [
            (v) => !!v || "Required"
        ],
        phone: "",
        phoneRules: [
            (v) => !!v || "Required.",
            (v) => /([+\d]{12,})|([0-9]{10,})/.test(v) || "Telephone inccorect"
        ],
        textSnackbar: "Error",
        snackbar: false,
        snackbarColor: "red",
    }),
    async created() {
            delete axios.defaults.headers.common["Authorization"];
        },
    methods: {
        async submit () {
            let payload = JSON.stringify({
                email: this.email,
                birthday: this.birthday,
                phone: this.phone
            })
            await axios("forgotten-password",
                        {
                            method: "post",
                            data: payload,
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            }
                        })
            .then((response) => {
                console.log("sucess", response);
                this.snackbar = true;
                this.textSnackbar = "Un email vous a été envoyé."
                this.snackbarColor = "green";
            })
            .catch((error) => {
                console.log("error", error);
                this.snackbar = true;
                this.textSnackbar = "Erreur"
                this.snackbarColor = "red";
            });
        },
    }

        // async submit() {
        //     this.validate()
        //     try {
        //         const headerconfig =  { headers: {
        //             'Content-Type': 'application/json',
        //             'Access-Control-Allow-Origin': '*'
        //             }}
        //         const response = await axios.post("/api/forgotten-password", {
        //             email: this.email,
        //             birthday: this.birthday,
        //             phone: this.phone
        //         }, headerconfig)
        //         if (response.data.success) {
        //             // this.displaySuccess = true;
        //             console.log("ok", response)
        //             setTimeout(  () => this.$router.push("/"), 3000);
        //         } else {
        //             console.log("errrrrrrrrrrrrrrroooooooooooooorrrrrrrrr", response)
        //             this.errors = response.data.message;
        //         }
        //     } catch (error) {
        //         this.errors = error.response.data.message;
        //     }
        // },
}
</script>

