<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "";
}

header h1::after {
    content: "";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#title-profil {
    width: 100%;
    text-align: center;
}
#title-profil h2 {
    color: #3b16e0 !important;
    font-family: "Nunito-ExtraBold";
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>

<template>
    <div>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title"></h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-layout wrap>
                    <v-flex sm12 md6 offset-md3>
                        <v-card elevation="4" light tag="section">
                            <section id="title-profil">
                                <h2 class="text-center">Mon profil</h2>
                            </section>
                            <div class="content">
                                <v-col cols="12">
                                    <div class="ma-2">
                                        <v-row v-if="resultBool">
                                            <v-alert
                                                dense
                                                prominent
                                                type="success"
                                            >
                                                {{ result }}
                                            </v-alert>
                                        </v-row>
                                        <v-form>
                                            <p class="pa-2">
                                                <span class="font-weight-bold"
                                                    >Nom de famille</span
                                                >
                                                :
                                            </p>
                                            <v-text-field
                                                v-model="user.lastName"
                                                dense
                                                filled
                                                :rules="[
                                                    textRule.required,
                                                    textRule.min,
                                                ]"
                                            ></v-text-field>
                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Prénom :</span
                                                >
                                            </p>
                                            <v-text-field
                                                v-model="user.firstName"
                                                dense
                                                filled
                                                :rules="[
                                                    textRule.required,
                                                    textRule.min,
                                                ]"
                                            ></v-text-field>
                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Adresse :
                                                </span>
                                            </p>
                                            <v-text-field
                                                v-model="user.adress"
                                                dense
                                                filled
                                                :rules="[
                                                    textRule.required,
                                                    textRule.min,
                                                ]"
                                            ></v-text-field>
                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Ville :
                                                </span>
                                            </p>
                                            <v-text-field
                                                v-model="user.city"
                                                dense
                                                filled
                                                :rules="[
                                                    textRule.required,
                                                    textRule.min,
                                                ]"
                                            ></v-text-field>
                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Email :
                                                </span>
                                            </p>
                                            <v-text-field
                                                v-model="user.email"
                                                dense
                                                filled
                                                disabled
                                                :rules="emailRules"
                                            ></v-text-field>
                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Téléphone:
                                                </span>
                                            </p>
                                            <v-text-field
                                                v-model="user.phone"
                                                dense
                                                filled
                                                :rules="[
                                                    rulePhone.required,
                                                    rulePhone.min,
                                                    rulePhone.num,
                                                ]"
                                            ></v-text-field>
                                            <v-btn
                                                class="buttonCustom mb-3"
                                                style="cursor: pointer"
                                                color="primary"
                                                @click="updateUser()"
                                            >
                                                Modifier mes informations
                                            </v-btn>
                                        </v-form>
                                    </div>
                                </v-col>
                            </div>
                            <v-card-text class="justify-center"> </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
    </div>
</template>
<script>
import axios from "axios";
export default {
    name: "Profil",
    data: () => ({
        userId: null,
        user: null,
        result: "",
        resultBool: false,
        emailRules: [
            (v) => !!v || "Required",
            (v) => /.+@.+\..+/.test(v) || "l'email n'est pas valide",
        ],
        rules: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 8) || "Min 8 characters",
        },
        textRule: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 1) || "Required",
        },
        rulePhone: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 10) || "Telephone inccorect",
            num: (v) =>
                (v && /^(\+33\s[1-9]{8})|(0[1-9]\s{8})$/.test(v) == false) ||
                "Telephone inccorect",
        },
    }),
    async beforeCreate() {
        if (localStorage.getItem("token") == null) {
            this.$router.push("/");
        }
    },
    async created() {
        const response = await axios.get("me");
        this.user = response.data;
        this.userId = response.data.userIdentifier;
        console.log(this.userId);
    },
    methods: {
        updateUser() {
            const headers = {
                "Content-Type": "application/json",
            };

            const data = {
                phone: this.user.phone,
                lastName: this.user.lastName,
                firstName: this.user.firstName,
                adress: this.user.adress,
                city: this.user.city,
                email: this.user.email,
            };

            const id = this.userId;

            axios
                .put(`users/${id}/update`, data, { headers })
                .then(() => {
                    this.result = "Vous avez mis à jour vos informations";
                    this.resultBool = true;
                })
                .catch(function (error) {
                    console.log(error.response);
                });
        },
    },
};
</script>
