<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "";
}

header h1::after {
    content: "";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#form {
    height: 100vh;
    padding: auto;
}
#title-login {
    width: 100%;
    text-align: center;
}
#title-login h2 {
    color: #3b16e0 !important;
    font-family: "Nunito-ExtraBold";
}
#title-login .buttonCustom {
    padding-bottom: 5px;
    padding-top: 5px;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>

<template>
    <div>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title"></h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-layout wrap>
                    <v-flex sm12 md6 offset-md3>
                        <v-card elevation="4" light tag="section">
                            <v-card-title
                                primary-title
                                class="justify-center"
                                style="padding-bottom: 0px"
                            >
                                <section
                                    id="title-login"
                                    style="
                                        margin-bottom: 20px;
                                        margin-top: 30px;
                                    "
                                >
                                    <h2 class="text-center">Inscription</h2>
                                </section>
                            </v-card-title>
                            <v-card-text class="justify-center">
                                <v-form
                                    @submit.prevent="handleSubmit"
                                    ref="registerForm"
                                    v-model="valid"
                                    lazy-validation
                                >
                                    <v-text-field
                                        outline
                                        label="Prénom"
                                        type="text"
                                        v-model="firstName"
                                        placeholder="Prénom"
                                        outlined
                                        :rules="[
                                            textRule.required,
                                            textRule.min,
                                        ]"
                                        required
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Nom"
                                        type="text"
                                        v-model="lastName"
                                        placeholder="Nom"
                                        outlined
                                        :rules="[
                                            textRule.required,
                                            textRule.min,
                                        ]"
                                        required
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Email"
                                        type="text"
                                        v-model="email"
                                        placeholder="Email"
                                        :rules="emailRules"
                                        outlined
                                        required
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Mot de passe"
                                        v-model="password"
                                        placeholder="Mot de passe"
                                        outlined
                                        required
                                        @click:append="show1 = !show1"
                                        :append-icon="show1 ? 'eye' : 'eye-off'"
                                        :rules="[rules.required, rules.min]"
                                        :type="show1 ? 'text' : 'password'"
                                    ></v-text-field>
                                    <!-- DATEPICKER BEGIN -->
                                    <v-menu
                                        ref="menu"
                                        v-model="menu"
                                        :close-on-content-click="false"
                                        transition="scale-transition"
                                        offset-y
                                        min-width="auto"
                                    >
                                        <template
                                            v-slot:activator="{ on, attrs }"
                                        >
                                            <v-text-field
                                                v-model="birthday"
                                                label="Birthday date"
                                                prepend-icon="mdi-calendar"
                                                readonly
                                                v-bind="attrs"
                                                v-on="on"
                                            ></v-text-field>
                                        </template>
                                        <v-date-picker
                                            v-model="birthday"
                                            :active-picker.sync="activePicker"
                                            :max="
                                                new Date(
                                                    Date.now() -
                                                        new Date().getTimezoneOffset() *
                                                            60000
                                                )
                                                    .toISOString()
                                                    .substr(0, 10)
                                            "
                                            min="1950-01-01"
                                            @change="save"
                                        ></v-date-picker>
                                    </v-menu>

                                    <!-- DATEPICKER END -->
                                    <v-text-field
                                        outline
                                        label="Téléphone"
                                        type="text"
                                        v-model="phone"
                                        placeholder="Téléphone"
                                        outlined
                                        required
                                        :rules="[
                                            rulePhone.required,
                                            rulePhone.min,
                                            rulePhone.num,
                                        ]"
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Adresse"
                                        type="text"
                                        v-model="adress"
                                        placeholder="Adresse"
                                        outlined
                                        :rules="[
                                            textRule.required,
                                            textRule.min,
                                        ]"
                                        required
                                    ></v-text-field>
                                    <v-text-field
                                        outline
                                        label="Ville"
                                        type="text"
                                        v-model="city"
                                        placeholder="Ville"
                                        outlined
                                        :rules="[
                                            textRule.required,
                                            textRule.min,
                                        ]"
                                        required
                                    ></v-text-field>
                                    <v-row class="ma-2" v-if="resultBool">
                                        <v-alert dense outlined type="error">
                                            {{ errors }}
                                        </v-alert>
                                    </v-row>
                                    <v-col
                                        class="d-flex justify-center"
                                        cols="12"
                                        sm="12"
                                        xsm="12"
                                    >
                                        <button
                                            class="buttonCustom mb-3"
                                            :disabled="!valid"
                                            @click="validate"
                                            style="cursor: pointer"
                                        >
                                            Créer mon compte
                                        </button>
                                    </v-col>
                                </v-form>
                            </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
    </div>
</template>
<script>
import axios from "axios";
export default {
    name: "Register",
    data: () => ({
        activePicker: null,
        menu: false,
        birthday: "",
        phone: "",
        lastName: "",
        firstName: "",
        adress: "",
        city: "",
        valid: true,
        verify: "",
        password: "",
        errors: "",
        resultBool: false,
        email: "",
        emailRules: [
            (v) => !!v || "Required",
            (v) => /.+@.+\..+/.test(v) || "l'email n'est pas valide",
        ],

        show1: false,
        rules: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 8) || "Min 8 characters",
        },
        textRule: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 1) || "Required",
        },
        ruleDate: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && /\d/.test(v) == false) || "Required",
        },
        rulePhone: {
            required: (value) => !!value || "Required.",
            min: (v) => (v && v.length >= 10) || "Telephone inccorect",
            num: (v) =>
                (v && /^(\+33\s[1-9]{8})|(0[1-9]\s{8})$/.test(v) == false) ||
                "Telephone inccorect",
        },
        ruleCheck: { required: (v) => (v && v != false) || "Required" },
    }),
    methods: {
        validate() {
            if (this.$refs.registerForm.validate()) {
                // submit form to server/API here...
            }
        },
        save(birthday) {
            this.$refs.menu.save(birthday);
        },
        async handleSubmit() {
            try {
                const response = await axios.post("users/create", {
                    firstName: this.firstName,
                    lastName: this.lastName,
                    email: this.email,
                    password: this.password,
                    birthday: this.birthday,
                    phone: this.phone,
                    adress: this.adress,
                    city: this.city,
                });
                this.$router.push("/");
                if (response.data.success) {
                    this.$router.push("/");
                } else {
                    this.errors = "Oups, cet e-mail est déjà utilisé";
                    this.resultBool = true;
                    console.log("error", this.errors);
                }
            } catch (error) {
                this.resultBool = true;
                this.errors = "Oups, cet e-mail est déjà utilisé";
                console.log("error", this.errors);
            }
        },
    },
    watch: {
        menu(val) {
            val && setTimeout(() => (this.activePicker = "YEAR"));
        },
    },
    async created() {
        delete axios.defaults.headers.common["Authorization"];
    },
};
</script>
