<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "-";
}

header h1::after {
    content: "-";
}

#rooms h1 {
    color: white;
}

#rooms .v-card {
    background: #49416b !important;
    border-radius: 12px;
    widows: 100%;
    margin: 6px 7px !important;
}

#rooms .card-group {
    padding: 12px;
}

#rooms .card-main-content {
    background: white;
    width: 100%;
}

#rooms .card-title {
    color: #3b16e0;
    font-family: "Nunito-ExtraBold";
}

#rooms .card-main-content p {
    color: #3b16e0;
}
</style>
<template>
    <section id="rooms">
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">Mes réservations</h1>
                </div>
            </div>
        </header>
        <v-container>
            <v-row dense v-if="reservations.length > 0">
                <v-col
                    v-for="reservation in reservations"
                    :key="reservation.id"
                    cols="6"
                >
                    <v-card
                        class="mx-auto my-12 v-card"
                        v-if="reservation.clientId == userUrl"
                    >
                        <div class="card-group d-flex flex-no-wrap">
                            <div
                                class="
                                    card-main-content
                                    rounded-lg
                                    text-center
                                    ma-4
                                "
                            >
                                <v-card-title class="mb-3 card-title">
                                    <v-list-item three-line>
                                        <v-list-item-content>
                                            <div class="text-overline mb-4">
                                                OVERLINE
                                            </div>
                                            <v-list-item-title
                                                class="text-h5 mb-1"
                                            >
                                                {{ reservation.room.name }}
                                            </v-list-item-title>
                                            <v-list-item-subtitle>{{
                                                getSlotView(reservation.slot)
                                            }}</v-list-item-subtitle>
                                        </v-list-item-content>

                                        <v-list-item-avatar
                                            tile
                                            size="80"
                                            color="grey"
                                        >
                                            <img 
                                                :src="reservation.room.imgUrl" 
                                                v-if="reservation.room.imgUrl"
                                                alt="image room"
                                            />
                                            <img
                                                src="../../assets/img/room_img.png" 
                                                v-if="!reservation.room.imgUrl"
                                                alt="image room"
                                            />
                                        </v-list-item-avatar>
                                    </v-list-item>
                                </v-card-title>
                                <button
                                    class="buttonCustom mb-3"
                                    @click="selectReservation(reservation.id)"
                                >
                                    <div class="height-fix">
                                        <v-icon color="white"
                                            >mdi-pencil</v-icon
                                        >
                                        Modifier
                                    </div>
                                </button>
                                <button
                                    class="buttonCustom mb-3"
                                    @click="cancelReservation(reservation)"
                                >
                                    <div class="height-fix">
                                        <v-icon color="white">mdi-close</v-icon>
                                        Annuler
                                    </div>
                                </button>
                                <v-card-text> </v-card-text>
                                <v-dialog
                                    v-model="dialog"
                                    persistent
                                    max-width="290"
                                >
                                    <!-- <template v-slot:activator="{ on, attrs }">
                    <v-btn color="primary" dark v-bind="attrs" v-on="on">
                      Open Dialog
                    </v-btn>
                  </template> -->
                                    <v-card>
                                        <v-card-title class="text-h5">
                                            Confirmation
                                        </v-card-title>
                                        <v-card-text>
                                            <span v-html="dialogText" />
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                                text
                                                color="error"
                                                @click="dialog = false"
                                            >
                                                ANNULER
                                            </v-btn>
                                            <v-btn
                                                depressed
                                                color="green white--text"
                                                @click="handleDelete"
                                            >
                                                VALIDER
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                            </div>
                        </div>
                    </v-card>
                </v-col>

                <v-snackbar
                    v-model="snackbar"
                    :color="snackbarColor"
                    rounded="pill"
                    elevation="24"
                >
                    {{ textSnackbar }}

                    <template v-slot:action="{ attrs }">
                        <v-btn
                            color="Close"
                            text
                            v-bind="attrs"
                            @click="snackbar = false"
                        >
                            Fermer
                        </v-btn>
                    </template>
                </v-snackbar>
            </v-row>
            <v-row v-else align="center" justify="center">
                <h3 class="white--text" v-if="result">
                    Vous n'avez aucune réservation
                </h3></v-row
            >
        </v-container>
    </section>
</template>

<script>
import axios from "axios";
import moment from "moment";

export default {
    name: "Reservations",
    data: () => ({
        userId: null,
        user: null,
        userUrl: null,
        reservations: [],
        reservation: null,
        dialog: false,
        currentSlot: null,
        checkReserv: null,
        result: false,
        dialogText: null,
        textSnackbar: "Error",
        snackbar: false,
        snackbarColor: "Red",
        paymentSucess: null,
    }),
    async mounted() {
        try {
            console.log(this.reservations);
            await fetch("https://35.187.15.66/reservations/", {
                mode: "cors",
                headers: {
                    "Content-Type": "application/json",
                    Accept: "application/json",
                },
            })
                .then((response) => response.json())
                .then(function (data) {
                    data.forEach((reservation) => {
                        fetch("https://35.187.15.66" + reservation.roomId, {
                            mode: "cors",
                            headers: {
                                "Content-Type": "application/json",
                                Accept: "application/json",
                            },
                        })
                            .then((response) => response.json())
                            .then(function (room) {
                                reservation.room = room;
                                return reservation;
                            });
                        fetch("https://35.187.15.66" + reservation.slotId, {
                            mode: "cors",
                            headers: {
                                "Content-Type": "application/json",
                                Accept: "application/json",
                            },
                        })
                            .then((response) => response.json())
                            .then(function (slot) {
                                reservation.slot = slot;
                                return reservation;
                            });
                    });
                    return data;
                })
                .then((data) => {
                    (this.reservations = data),
                        console.log("ra", this.reservations);
                });
        } catch (error) {
            console.error(error);
        }
    },
    async created() {
        const response = await axios.get("me");
        this.user = response.data;
        this.userId = response.data.userIdentifier;
        this.userUrl = "/users/" + this.userId;
        const reserv = await axios.get("reservations");
        this.checkReserv = reserv.data.length;
        if (this.checkReserv == 0) {
            this.result = true;
        }
        if (this.paymentSucess == true) {
            this.snackbarColor = "green";
            this.textSnackbar = "Votre paiement a bien été accepté.";
            this.snackbar = true;
        } else if(this.paymentSucess == false) {
            this.snackbarColor = "red";
            this.textSnackbar = "Votre paiement n'a pas fonctionné";
            this.snackbar = true;
        }

    },
    methods: {
        getSlotView(slot) {
            slot.slotEnd;
            return String(
                slot.slotStart.split("T")[0] +
                    " (" +
                    slot.slotStart.split("T")[1].substring(0, 5) +
                    " : " +
                    slot.slotEnd.split("T")[1].substring(0, 5) +
                    ")"
            );
        },
        selectReservation: function (id) {
            this.$router.push({ name: "EditReservation", params: { id: id } });
        },
        cancelReservation: function (reservation) {
            axios.get(reservation.slotId).then((result) => {
                console.log(result);
                if (
                    moment(result.data.slotStart).isSameOrAfter(
                        moment().add(2, "days")
                    )
                ) {
                    console.log(result.data);
                    this.dialogText =
                        "Vous-vous vraiment supprimer la réservation du <b>" +
                        moment(result.data.slotStart).format(
                            "YYYY-MM-DD hh:mm"
                        ) +
                        "</b>";
                    this.currentSlot = result.data;
                    this.dialog = true;
                    this.reservation = reservation;
                } else {
                    this.snackbarColor = "red";
                    this.textSnackbar =
                        "Il est impossible d'annuler une réservation en dessous de 48h à l'avance";
                    this.snackbar = true;
                }
            });

            // if (
            //   confirm("Êtes-vous sûr de vouloir annuler votre réservation ?") == true
            // ) {
            //   var url = "https://35.187.15.66/reservations/" + reservationId;
            //   axios.put(
            //     url,
            //     { status: false },
            //     { Authorization: "Bearer " + localStorage.getItem("token") }
            //   );
            //   this.$router.push("/");
            // } else {
            //   console.log("annulé");
            // }
        },
        handleDelete() {
            axios
                .delete("/reservations/" + this.reservation.id)
                .then((result) => {
                    console.log(result);
                    axios
                        .put("/time_slots/" + this.currentSlot.id, {
                            slotStart: this.currentSlot.slotStart,
                            slotEnd: this.currentSlot.slotEnd,
                            roomId: this.currentSlot.roomId,

                            available: true,
                        })
                        .then(() => {
                            this.snackbarColor = "green";
                            this.textSnackbar = "Réservation annulée";
                            this.snackbar = true;
                            this.dialog = false;
                            setTimeout(() => {
                                this.$forceUpdate();
                                this.$router.go();
                            }, 4000);
                        })
                        .catch(() => {
                            this.snackbarColor = "red";
                            this.textSnackbar =
                                "Une erreur est survenue durant l'annulation de la réservation";
                            this.snackbar = true;
                        });
                }).then(()=>{
                    axios.post("http://35.187.15.66:3002/cancel",{
                        paymentIntent: this.reservation.paymentIntent
                    })
                })
                .catch((er) => {
                    console.log(er);
                    this.snackbarColor = "red";
                    this.textSnackbar =
                        "Une erreur est survenue durant l'annulation de la réservation";
                    this.snackbar = true;
                });
        },
        async beforeCreate() {
            if (localStorage.getItem("token") == null) {
                this.$router.push("/");
            }
        },
    },
};
</script>
