<style scoped>
header {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

header h1 {
    letter-spacing: 12px;
    margin-top: 6vh;
}

header h1::before {
    content: "";
}

header h1::after {
    content: "";
}

.label p {
    color: white;
    font-weight: bolder;
    letter-spacing: 2px;
}

#title-profil {
    width: 100%;
    text-align: center;
}
#title-profil h2 {
    color: #3b16e0 !important;
    font-family: "Nunito-ExtraBold";
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }
}
</style>

<template>
    <div>
        <header class="overflow-hidden">
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title"></h1>
                </div>
            </div>
        </header>
        <section>
            <v-container>
                <v-layout wrap>
                    <v-flex sm12 md6 offset-md3>
                        <v-card elevation="4" light tag="section">
                            <section id="title-profil">
                                <h2 class="text-center">Gérer mon compte</h2>
                            </section>
                            <div class="content">
                                <v-col cols="12">
                                    <div class="ma-2">
                                        <h3 class="text-center">
                                            Modifier mon mot de passe
                                        </h3>
                                        <v-row v-if="resultBool" class="ma-2">
                                            <v-alert
                                                dense
                                                prominent
                                                type="success"
                                            >
                                                {{ result }}
                                            </v-alert>
                                        </v-row>
                                        <v-form>
                                            <p class="pa-2">
                                                <span class="font-weight-bold"
                                                    >Nouveau mot de passe</span
                                                >
                                                :
                                            </p>
                                            <v-text-field
                                                v-model="userPass.password"
                                                type="password"
                                                placeholder="Entre ton nouveau mot de passe"
                                                autocomplete="off"
                                                dense
                                                filled
                                            ></v-text-field>

                                            <p class="pa-2">
                                                <span class="font-weight-bold">
                                                    Confirme ton nouveau mot de
                                                    passe :</span
                                                >
                                            </p>
                                            <v-text-field
                                                dense
                                                filled
                                                type="password"
                                                placeholder="Confirme ton nouveau mot de passe"
                                                v-model="
                                                    userPass.confirmPassword
                                                "
                                            ></v-text-field>

                                            <v-row
                                                class="ma-2"
                                                v-if="
                                                    userPass.confirmPassword &&
                                                    !$v.userPass.confirmPassword
                                                        .sameAsPassword
                                                "
                                            >
                                                <v-alert
                                                    dense
                                                    outlined
                                                    type="error"
                                                >
                                                    Les mots de passe doivent
                                                    être identiques
                                                </v-alert>
                                            </v-row>

                                            <v-btn
                                                class="mb-3"
                                                style="cursor: pointer"
                                                @click="updatePassword()"
                                                :disabled="this.isDisabled"
                                                color="primary"
                                            >
                                                Mettre à jour mon mot de passe
                                            </v-btn>
                                        </v-form>
                                        <h4 class="text-center mb-5">- OU -</h4>
                                        <div class="text-center">
                                            <v-dialog
                                                v-model="dialog"
                                                width="500"
                                            >
                                                <template
                                                    v-slot:activator="{
                                                        on,
                                                        attrs,
                                                    }"
                                                >
                                                    <v-btn
                                                        color="red lighten-2"
                                                        dark
                                                        v-bind="attrs"
                                                        v-on="on"
                                                    >
                                                        Je souhaite supprimer
                                                        définitivement mon
                                                        compte
                                                    </v-btn>
                                                </template>

                                                <v-card>
                                                    <v-card-title
                                                        class="
                                                            text-h5
                                                            grey
                                                            lighten-2
                                                        "
                                                    >
                                                        Privacy Policy
                                                    </v-card-title>

                                                    <v-card-text>
                                                        Lorem ipsum dolor sit
                                                        amet, consectetur
                                                        adipiscing elit, sed do
                                                        eiusmod tempor
                                                        incididunt ut labore et
                                                        dolore magna aliqua. Ut
                                                        enim ad minim veniam,
                                                        quis nostrud
                                                        exercitation ullamco
                                                        laboris nisi ut aliquip
                                                        ex ea commodo consequat.
                                                        Duis aute irure dolor in
                                                        reprehenderit in
                                                        voluptate velit esse
                                                        cillum dolore eu fugiat
                                                        nulla pariatur.
                                                        Excepteur sint occaecat
                                                        cupidatat non proident,
                                                        sunt in culpa qui
                                                        officia deserunt mollit
                                                        anim id est laborum.
                                                    </v-card-text>

                                                    <v-divider></v-divider>

                                                    <v-card-actions>
                                                        <v-spacer></v-spacer>
                                                        <v-btn
                                                            color="primary"
                                                            text
                                                            @click="
                                                                (dialog = false),
                                                                    deleteUser()
                                                            "
                                                        >
                                                            Oui, j'accepte et
                                                            souhaite supprimer
                                                            mon compte
                                                        </v-btn>
                                                    </v-card-actions>
                                                </v-card>
                                            </v-dialog>
                                        </div>
                                    </div>
                                </v-col>
                            </div>
                            <v-card-text class="justify-center"> </v-card-text>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </section>
    </div>
</template>
<script>
import axios from "axios";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import { useVuelidate } from "vuelidate";
export default {
    name: "UpdatePassword",
    data: () => ({
        userId: null,
        user: null,
        result: "",
        resultBool: false,
        dialog: false,
        userPass: {
            password: "",
            confirmPassword: "",
        },
        submitted: false,
    }),
    async created() {
        const response = await axios.get("me");
        this.user = response.data;
        this.userId = response.data.userIdentifier;
        console.log(this.userId);
        this.submitted = true;
        return this.$v.$touch();
    },
    setup: () => ({ v$: useVuelidate() }),
    validations: {
        userPass: {
            password: { required, minLength: minLength(6) },
            confirmPassword: { required, sameAsPassword: sameAs("password") },
        },
    },
    computed: {
        isDisabled() {
            return this.$v.$invalid;
        },
    },
    methods: {
        updatePassword() {
            const headers = {
                "Content-Type": "application/json",
            };

            const data = {
                password: this.userPass.password,
            };

            const id = this.userId;

            axios
                .put(`users/${id}/update-password`, data, { headers })
                .then(() => {
                    this.result = "Vous avez mis à jour votre mot de passe";
                    this.resultBool = true;
                    this.submitted = true;
                    this.$v.$touch();
                    if (this.$v.$invalid) {
                        return false;
                    }
                })
                .catch(function (error) {
                    console.log(error.response);
                });
        },
        deleteUser() {
            const headers = {
                "Content-Type": "application/json",
            };
            const id = this.userId;

            axios
                .delete(`users/${id}`, { headers })
                .then(() => {
                    this.result = "Compte supprimé";
                    this.resultBool = true;
                    this.$router.push("/");
                    this.$forceUpdate();
                    this.$router.go();
                })
                .catch(function (error) {
                    console.log(error.response);
                });
        },
    },
    async beforeCreate() {
        if (localStorage.getItem("token") == null) {
            this.$router.push("/");
        }
    },
};
</script>
