<style scoped>
p {
    font-family: "Nunito-SemiBold" !important;
    color: white;
}

a {
    color: white !important;
    text-decoration: none !important;
}

.text-mobile p {
    color: black !important;
}

.v-alert {
    position: fixed !important;
    z-index: 2 !important;
    width: 100% !important;
    bottom: 0 !important;
}
.alert-banner {
    position: fixed !important;
    z-index: 2 !important;
    width: 100% !important;
    bottom: 0 !important;
}

.v-list a {
    color: black !important;
}

.itemList {
    color: black;
}

.router-link-exact-active {
    border-bottom: 2px #39305e;
    cursor: pointer;
}

#main {
    min-height: 100%;
}
</style>
<template>
    <v-app>
        <!-- MOBILE NAVBAR -->
        <v-app-bar
            v-if="isMobile()"
            :color="bg"
            fixed
            elevate-on-scroll
            scroll-target="#scrolling-techniques-7"
        >
            <v-toolbar-title white>
                <router-link to="/">E&G</router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn flat>ee</v-btn>
            </v-toolbar-items>

            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <p>
                        <a dark v-bind="attrs" v-on="on">
                            <v-icon color="white">mdi-menu</v-icon>
                        </a>
                    </p>
                </template>

                <v-list>
                    <v-list-tile>
                        <v-list-tile-content>
                            <v-list-tile-title>
                                <v-menu offset-y>
                                    <template v-slot:activator="{ on, attrs }">
                                        <p>
                                            <a dark v-bind="attrs" v-on="on">
                                                Les rooms
                                                <v-icon color="black"
                                                    >mdi-menu-down</v-icon
                                                >
                                            </a>
                                        </p>
                                    </template>
                                    <v-list>
                                        <v-list-item>
                                            <router-link to="/rooms">
                                                <v-list-item-title>
                                                    <p class="itemList">
                                                        Toutes nos rooms
                                                    </p>
                                                </v-list-item-title>
                                            </router-link>
                                        </v-list-item>
                                        <v-list-item
                                            v-for="room in rooms"
                                            :key="room.id"
                                        >
                                            <v-list-item-title
                                                @click="
                                                    selectRoom(
                                                        room.id,
                                                        room.name
                                                    )
                                                "
                                            >
                                                <p class="itemList">
                                                    {{ room.name }}
                                                </p>
                                            </v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </v-list-tile-title>
                            <v-list-tile-title>
                                <p>
                                    <router-link to="/map"
                                        >Où nous trouver ?</router-link
                                    >
                                </p>
                            </v-list-tile-title>
                            <v-list-tile-title>
                                <p>
                                    <router-link to="/contact"
                                        >Nous contacter</router-link
                                    >
                                </p>
                            </v-list-tile-title>
                            <v-list-tile-title>
                                <p>
                                    <router-link to="/rooms"
                                        >Réserver</router-link
                                    >
                                </p>
                            </v-list-tile-title>
                            <v-list-tile-title>
                                <v-menu offset-y v-if="user">
                                    <template v-slot:activator="{ on, attrs }">
                                        <p class="ml-6 text-mobile">
                                            <a dark v-bind="attrs" v-on="on">
                                                <p v-if="user">
                                                    {{ user.firstName }}
                                                    {{ user.lastName }} +
                                                </p>
                                            </a>
                                        </p>
                                    </template>
                                    <v-list v-if="user">
                                        <v-list-item
                                            v-for="(item, index) in items"
                                            :key="index"
                                        >
                                            <v-list-item-title>
                                                <router-link :to="item.link">{{
                                                    item.title
                                                }}</router-link>
                                            </v-list-item-title>
                                        </v-list-item>
                                        <v-list-item>
                                            <v-list-item-title>
                                                <p>
                                                    <a
                                                        href="javascript:void(0)"
                                                        @click="handleClick()"
                                                        >Se déconnecter</a
                                                    >
                                                </p>
                                            </v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </v-list-tile-title>
                            <v-list-tile-title>
                                <LoginModal v-if="!user" />
                            </v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-menu>
        </v-app-bar>
        <!-- DESKTOP NAVBAR -->
        <v-app-bar
            v-if="!isMobile()"
            :color="bg"
            fixed
            elevate-on-scroll
            scroll-target="#scrolling-techniques-7"
        >
            <v-toolbar-title white>
                <router-link to="/">E&G</router-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-menu offset-y>
                <template v-slot:activator="{ on, attrs }">
                    <p>
                        <a dark v-bind="attrs" v-on="on">
                            Les rooms
                            <v-icon color="white">mdi-menu-down</v-icon>
                        </a>
                    </p>
                </template>
                <v-list>
                    <v-list-item>
                        <router-link to="/rooms">
                            <v-list-item-title>
                                <p class="itemList">Toutes nos rooms</p>
                            </v-list-item-title>
                        </router-link>
                    </v-list-item>
                    <v-list-item v-for="room in rooms" :key="room.id">
                        <v-list-item-title
                            @click="selectRoom(room.id, room.name)"
                        >
                            <p class="itemList">
                                {{ room.name }}
                            </p>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <div class="d-inline-block pl-6">
                <p><router-link to="/map">Où nous trouver ?</router-link></p>
            </div>
            <div class="d-inline-block pl-6">
                <p><router-link to="/contact">Nous contacter</router-link></p>
            </div>
            <div class="d-inline-block pl-6">
                <p><router-link to="/rooms">Réserver</router-link></p>
            </div>

            <v-menu offset-y v-if="user">
                <template v-slot:activator="{ on, attrs }">
                    <p class="ml-6">
                        <a dark v-bind="attrs" v-on="on">
                            <p v-if="user">
                                {{ user.firstName }} {{ user.lastName }} +
                            </p>
                        </a>
                    </p>
                </template>
                <v-list v-if="user">
                    <v-list-item v-for="(item, index) in items" :key="index">
                        <v-list-item-title>
                            <router-link :to="item.link">{{
                                item.title
                            }}</router-link>
                        </v-list-item-title>
                    </v-list-item>
                    <v-list-item>
                        <v-list-item-title>
                            <p>
                                <a
                                    href="javascript:void(0)"
                                    @click="handleClick()"
                                    >Se déconnecter</a
                                >
                            </p>
                        </v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
            <LoginModal v-if="!user" />
        </v-app-bar>
        <v-container-fluid>
            <v-main id="main">
                <v-alert v-if="shown" dense type="info" class="alert-banner">
                    Télécharger l'application
                    <v-btn text @click="dismissPrompt()">Non merci</v-btn>
                    <v-btn text @click="installPWA()">Installer</v-btn>
                </v-alert>
                <router-view :key="$route.fullPath" />
            </v-main>
        </v-container-fluid>
        <v-spacer></v-spacer>
        <Footer />
    </v-app>
</template>

<script>
import axios from "axios";
import Footer from "./components/Footer";
import LoginModal from "./components/modal/LoginModal.vue";
export default {
    name: "App",

    components: {
        Footer,
        LoginModal,
    },

    data: () => ({
        bg: "transparent",
        rooms: [],
        valid: true,
        errors: "",
        verify: "",
        user: null,
        shown: false,
        deferredPrompt: null,
        items: [
            { title: "Voir mon profil", link: "/profil" },
            { title: "Gérer mon compte", link: "/mon-compte" },
            { title: "Mes réservations", link: "/reservations" },
        ],
    }),
    beforeMount() {
        window.addEventListener("beforeinstallprompt", (e) => {
            e.preventDefault();
            this.installEvent = e;
            this.shown = true;
        });
    },
    async created() {
        const response = await axios.get("me");
        this.user = response.data;
        console.log("user", this.user);

        const getRooms = await axios.get("rooms");
        this.rooms = getRooms.data;
        console.log("rooms", this.rooms);
    },
    async mounted() {
        window.onscroll = () => {
            this.changeColor();
        };
        try {
            const getRooms = await axios
                .get("rooms/", {
                    transformRequest: (data, headers) => {
                        delete headers.common["Authorization"];
                        return data;
                    },
                })
                .catch((err) => {
                    if (err.response.status === 404) {
                        this.$router.push({ name: "Page404" });
                        console.error(`${err.config.url} not found`);
                    }
                });
            if (getRooms) {
                this.rooms = getRooms.data;
                console.log("room", this.rooms);
            }
        } catch (err) {
            console.error(err);
        }
    },
    methods: {
        isMobile() {
            return this.$vuetify.breakpoint.xsOnly;
        },
        dismissPrompt() {
            this.shown = false;
        },

        installPWA() {
            this.installEvent.prompt();
            this.installEvent.userChoice.then((choice) => {
                this.dismissPrompt(); // Hide the prompt once the user's clicked
                if (choice.outcome === "accepted") {
                    // Do something additional if the user chose to install
                } else {
                    // Do something additional if the user declined
                }
            });
        },
        selectRoom: function (id, name) {
            if (this.$route.path != "/room")
                this.$router
                    .push({
                        name: "Room",
                        params: { id: id, name: name },
                    })
                    .catch(() => {});
        },
        handleClick() {
            localStorage.removeItem("token");
            this.$router.push("/");
            this.$forceUpdate();
            this.$router.go();
        },
        changeColor() {
            if (
                document.body.scrollTop > 100 ||
                document.documentElement.scrollTop > 100
            ) {
                this.bg = "#1A0A61";
            } else {
                this.bg = "transparent";
            }
        },
    },
};
</script>
