<style>
.row-pointer > .v-data-table__wrapper > table > tbody > tr:hover {
  cursor: pointer;
}
</style>
<template>
  <v-data-table
    :headers="headers"
    :items="rooms"
    class="elevation-1 row-pointer"
    @click:row="handleEdit"
  >
    <template v-slot:top>
      <v-toolbar flat>
        <v-toolbar-title>Rooms</v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <EditModal
          :dialog="dialog"
          @dialog="getDialog"
          :editedItem="editedItem"
          @item="getItem"
          :editedTitle="editedTitle"
          :rules="rules"
          formType="room"
        />
      </v-toolbar>
    </template>
    <template slot="items">
      <tr></tr>
    </template>
    <template v-slot:item.timeSlots="{ item }">
      <v-btn v-model="item.timeSlots"></v-btn>
    </template>
  </v-data-table>
</template>

<script>
import axios from "axios";
// import Dashboard from "../Dashboard.vue";
import EditModal from "../Modal/Edit.vue";
// import moment from "moment";

export default {
  name: "RoomDatatable",
  components: { EditModal },
  data: () => ({
    dialog: false,
    editedItem: null,
    editedTitle: "Room",
    currentUser: null,
    oldItem: null,
    headers: [],
    rooms: [],
    rules: {
      show1: false,
      rules: {
        required: (value) => !!value || "Required.",
        min: (v) => (v && v.length >= 8) || "Min 8 characters",
      },
      textRule: {
        required: (value) => !!value || "Required.",
        min: (v) => (v && v.length >= 1) || "Required",
      },

      numberRule: {
        required: (value) => !!value || "Required.",
      },
      // urlRule: {
      //   required: (value) => !!value || "Required",
      //   min: (v) =>
      //     (v && v.length <= 256) ||
      //     "URL must be less than 256 characters" /* eslint-disable-next-line no-useless-escape*/,

      //   valid: (v) =>
      //     /https?:[0-9]*\/\/[\w!?/\+\-_~=;\.,*&@#$%\(\)\'\[\]]+/.test(v) ||
      //     "URL must be valid",
      // },
      ruleCheck: { required: (v) => (v && v != false) || "Required" },
      valid: true,
    },
    editedIndex: -1,

    contextMenu: false,
    x: 0,
    y: 0,
    itemsContextMenu: [{ title: "Modifier" }, { title: "Supprimer" }],
  }),
  async created() {
    await axios.get("me").then((user) => {
      this.currentUser = user;
    });
    await axios.get("/rooms").then((result) => {
      console.log("result", Object.keys(result.data[0]));
      this.headers = [];
      Object.keys(result.data[0]).forEach((item) => {
        if (item != "timeSlots" && item != "reservations") {
          this.headers.push({
            text: item,
            align: "start",
            sortable: true,
            value: item,
          });
        }
      });

      result.data.forEach((item) => {
        this.rooms.push(item);
      });
      console.log(this.rooms);
    });
  },

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {},

  methods: {
    getDialog(val) {
      this.dialog = false;
      console.log("get dialog", val);
    },
    getItem(val, error, del) {
      console.log("error", error);
      console.log("new item", val);
      console.log("old item", this.oldItem);
      if (del) {
        if (!error) {
          this.rooms = this.rooms.map((obj) => {
            if (obj.id != val.id) {
              return obj;
            }
          });
          this.$emit("snack", "Room supprimé avec succès !", "green");
        } else {
          this.$emit("snack", "Une erreur est survenue", "red");

          console.log("une erreur est survenue");
        }
      } else {
        if (!error) {
          this.rooms = this.rooms.map((obj) => {
            if (obj.id === val.id) {
              return val;
            }

            return obj;
          });
          this.$emit("snack", "User modifiée avec succès !", "green");

          // let item = this.users.find((element) => element.id == val.id);
          // item = val;
          console.log(this.oldItem, "olditem");
        } else {
          this.$emit("snack", "Une erreur est survenue", "red");

          console.log("une erreur est survenue");
        }
      }
    },
    handleEdit(e, value) {
      console.log("handle edit", value);
      console.log(e);
      // value.item.birthday = moment(value.item.birthday).format("YYYY-MM-DD");
      this.editedItem = { ...value.item };
      this.editedTitle = "Room - " + value.item.name;
      this.oldItem = value.item;
      this.dialog = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    // close() {
    //   this.dialog = false;
    //   this.$nextTick(() => {
    //     this.editedItem = Object.assign({}, this.defaultItem);
    //     this.editedIndex = -1;
    //   });
    // },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
  beforeUpdate() {
    console.log("BEFORE UPDATE USERS", this.testItem);
  },
};
</script>
