<style scoped>
@media screen and (max-width: 675px) {
  .content-wrapper {
    padding: 0 20px;
    margin-bottom: 100px !important;
  }

  .content-wrapper button {
    margin: 0 auto;
  }
}
.row-pointer > .v-data-table__wrapper > table > tbody > tr:hover {
  cursor: pointer;
}
</style>
<template>
  <div>
    <header class="overflow-hidden">
      <!-- <div class="top-gradient"></div>
      <div class="container header-wrapper" style="margin-top: 100px">
        <div class="content-wrapper">
          <h1
            class="main-title"
            align="center"
            justify="center"
            style="color: white"
          >
            Dashboard
          </h1>
        </div>
      </div> -->
    </header>
    <section id="dashboard">
      <v-container fluid>
        <v-card>
          <v-toolbar flat color="#6B4BFA" dark>
            <v-toolbar-title>Admin Dashboard</v-toolbar-title>
          </v-toolbar>
          <v-tabs vertical color="#6B4BFA">
            <v-tab color="#6B4BFA">
              <v-icon left> mdi-account </v-icon>
              Users
            </v-tab>
            <v-tab>
              <v-icon left> mdi-run-fast </v-icon>
              Rooms
            </v-tab>
            <v-tab>
              <v-icon left> mdi-calendar-clock </v-icon>
              TimeSlots
            </v-tab>
            <v-tab>
              <v-icon left> mdi-book-account-outline </v-icon>
              Reservations
            </v-tab>

            <v-tab-item>
              <v-card flat>
                <DatatableUser @snack="snack" />
                <!-- </v-card-text> -->
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat> <DatatableRoom @snack="snack" /></v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <DatatableTimeSlot @snack="snack" />
              </v-card>
            </v-tab-item>
            <v-tab-item>
              <v-card flat>
                <DatatableReservation @snack="snack" />
              </v-card>
            </v-tab-item>
          </v-tabs>
        </v-card>
      </v-container>
      <v-snackbar
        v-model="snackbar"
        :color="snackbarColor"
        rounded="pill"
        elevation="24"
      >
        {{ textSnackbar }}

        <template v-slot:action="{ attrs }">
          <v-btn color="Close" text v-bind="attrs" @click="snackbar = false">
            Fermer
          </v-btn>
        </template>
      </v-snackbar>
    </section>
  </div>
</template>

<script>
import DatatableUser from "./Datatable/Users.vue";
import DatatableTimeSlot from "./Datatable/TimeSlots.vue";
import DatatableRoom from "./Datatable/Rooms.vue";
import DatatableReservation from "./Datatable/Reservations.vue";

export default {
  name: "Dashboard",
  components: {
    DatatableUser,
    DatatableTimeSlot,
    DatatableRoom,
    DatatableReservation,
  },
  data: () => ({
    textSnackbar: "Error",
    snackbar: false,
    snackbarColor: "Red",
  }),
  methods: {
    snack(text, color) {
      this.snackbarColor = color;
      this.textSnackbar = text;
      this.snackbar = true;
    },
  },
};
</script>
