<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span v-if="formType == 'user'" class="text-h5">{{
            editedTitle
          }}</span>
          <span v-if="formType == 'room'" class="text-h5">{{
            editedTitle
          }}</span>
          <span v-if="formType == 'timeSlot'" class="text-h5">{{
            editedTitle
          }}</span>
          <span v-if="formType == 'reservation'" class="text-h5">{{
            editedTitle
          }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <div v-if="formType == 'user'">
                <v-form
                  @submit.prevent="handleSubmit"
                  ref="userForm"
                  v-model="rules.valid"
                  lazy-validation
                  v-if="editedItem"
                >
                  <v-row>
                    <v-col>
                      <v-text-field
                        outline
                        label="Prénom"
                        type="text"
                        v-model="editedItem.lastName"
                        placeholder="Prénom"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Nom"
                        type="text"
                        v-model="editedItem.firstName"
                        placeholder="Nom"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Email"
                        type="text"
                        v-model="editedItem.email"
                        placeholder="Email"
                        :rules="rules.emailRules"
                        outlined
                        required
                      ></v-text-field
                    ></v-col>
                  </v-row>

                  <!-- <v-text-field
                    outline
                    label="Mot de passe"
                    v-model="editedItem.password"
                    placeholder="Mot de passe"
                    outlined
                    required
                    @click:append="rules.show1 = !rules.show1"
                    :append-icon="rules.show1 ? 'eye' : 'eye-off'"
                    :rules="[rules.rules.required, rules.rules.min]"
                    :type="rules.show1 ? 'text' : 'password'"
                  ></v-text-field> -->
                  <v-row>
                    <v-col>
                      <v-text-field
                        outline
                        label="Date de naissance"
                        type="date"
                        v-model="editedItem.birthday"
                        placeholder="Date de naissance"
                        outlined
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Téléphone"
                        type="text"
                        v-model="editedItem.phone"
                        placeholder="Téléphone"
                        outlined
                        required
                        :rules="[
                          rules.rulePhone.required,
                          rules.rulePhone.min,
                          rules.rulePhone.num,
                        ]"
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Adresse"
                        type="text"
                        v-model="editedItem.adress"
                        placeholder="Adresse"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col
                      ><v-text-field
                        outline
                        label="Ville"
                        type="text"
                        v-model="editedItem.city"
                        placeholder="Ville"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                  </v-row>

                  <!-- <v-row class="ma-2" v-if="resultBool">
                                        <v-alert dense outlined type="error">
                                            {{ errors }}
                                        </v-alert>
                                    </v-row> -->
                  <v-col
                    class="d-flex justify-center"
                    cols="12"
                    sm="12"
                    xsm="12"
                  >
                    <!-- <button
                      class="buttonCustom mb-3"
                      :disabled="!rules.valid"
                      @click="validate"
                      style="cursor: pointer"
                    > -->
                    <!-- Créer mon compte
                    </button> -->
                  </v-col>
                </v-form>
              </div>
              <div v-if="formType == 'room'">
                <v-form
                  @submit.prevent="handleSubmit"
                  ref="roomForm"
                  v-model="rules.valid"
                  lazy-validation
                  v-if="editedItem"
                >
                  <v-row>
                    <v-col>
                      <v-text-field
                        outline
                        label="Nom"
                        type="text"
                        v-model="editedItem.name"
                        placeholder="Nom"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Description"
                        type="text"
                        v-model="editedItem.description"
                        placeholder="Description"
                        outlined
                        :rules="[rules.textRule.required, rules.textRule.min]"
                        required
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Nombre de joueurs"
                        type="number"
                        v-model="editedItem.maxPlayers"
                        placeholder="Nombre de joueurs"
                        :rules="[
                          rules.numberRule.required,
                          rules.numberRule.min,
                        ]"
                        outlined
                        required
                      ></v-text-field
                    ></v-col>
                  </v-row>
                  <v-row>
                    <v-col>
                      <v-text-field
                        outline
                        label="Prix"
                        type="number"
                        v-model="editedItem.price"
                        placeholder="Prix"
                        :rules="[
                          rules.numberRule.required,
                          rules.numberRule.min,
                        ]"
                        outlined
                        required
                      ></v-text-field>
                    </v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Localisation"
                        type="text"
                        v-model="editedItem.location"
                        placeholder="Localisation"
                        outlined
                        required
                        :rules="[rules.textRule.required, rules.textRule.min]"
                      ></v-text-field
                    ></v-col>
                    <v-col>
                      <v-text-field
                        outline
                        label="Image"
                        type="url"
                        v-model="editedItem.imgUrl"
                        placeholder="Image"
                        outlined
                      ></v-text-field
                    ></v-col>
                  </v-row>
                  <v-row> </v-row>

                  <v-col
                    class="d-flex justify-center"
                    cols="12"
                    sm="12"
                    xsm="12"
                  >
                  </v-col>
                </v-form>
              </div>
              <div v-if="formType == 'timeSlot'">
                <v-form
                  @submit.prevent="handleSubmit"
                  ref="timeSlotForm"
                  v-model="rules.valid"
                  lazy-validation
                  v-if="editedItem"
                >
                  <v-row>
                    <v-col>
                      <v-checkbox
                        v-model="editedItem.available"
                        required
                        :label="`Disponibile`"
                      ></v-checkbox>
                    </v-col>

                    <v-col>
                      <v-datetime-picker
                        label="Début de créneau"
                        v-model="editedItem.slotStart"
                        clearText="EFFACER"
                        outlined
                        :timePickerProps="timeOpts"
                        :datePickerProps="dateOpts"
                        :textFieldProps="textFieldOpts"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                          Date
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                          Créneau
                        </template>
                      </v-datetime-picker>
                    </v-col>
                    <v-col>
                      <v-datetime-picker
                        label="FIn de créneau"
                        v-model="editedItem.slotEnd"
                        clearText="EFFACER"
                        outlined
                        :timePickerProps="timeOpts"
                        :datePickerProps="dateOpts"
                        :textFieldProps="textFieldOpts"
                      >
                        <template slot="dateIcon">
                          <v-icon>mdi-calendar</v-icon>
                          Date
                        </template>
                        <template slot="timeIcon">
                          <v-icon>mdi-clock</v-icon>
                          Créneau
                        </template>
                      </v-datetime-picker></v-col
                    >
                  </v-row>

                  <v-row> </v-row>

                  <v-col
                    class="d-flex justify-center"
                    cols="12"
                    sm="12"
                    xsm="12"
                  >
                  </v-col>
                </v-form>
              </div>
              <div v-if="formType == 'reservation'">
                <v-form
                  @submit.prevent="handleSubmit"
                  ref="reservationForm"
                  v-model="rules.valid"
                  lazy-validation
                  v-if="editedItem"
                >
                  <v-row>
                    <v-col>
                      <v-text-field
                        v-model="editedItem.createdAt"
                        required
                        :label="`Date de création`"
                        readonly
                        outlined
                      ></v-text-field>
                    </v-col>

                    <v-col>
                      <v-select
                        name="quantity"
                        prepend-icon="mdi-account-group-outline"
                        id="quantity-participant"
                        required
                        v-model="editedItem.quantity"
                        :rules="rules.quantityRules"
                        color="#6B4BFA"
                        :items="editedItem.quantity_participant"
                        item-text="id"
                        label="Nombre de participants"
                        dense
                        outlined
                      ></v-select>
                    </v-col>
                  </v-row>

                  <v-row> </v-row>

                  <v-col
                    class="d-flex justify-center"
                    cols="12"
                    sm="12"
                    xsm="12"
                  >
                  </v-col>
                </v-form>
              </div>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-btn color="red darken-1 white--text" @click="del">
            SUPPRIMER
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="close"> ANNULER </v-btn>
          <v-btn color="green darken-1 white--text" @click="save">
            SAUVEGARDER
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
import axios from "axios";

export default {
  name: "ModalAdminEdit",

  data: () => ({
    inputNames: [],
  }),

  props: {
    editedItem: Object,
    dialog: Boolean,
    editedTitle: String,
    formType: String,
    rules: Object,
  },
  computed: {
    timeOpts: () => {
      return {
        format: "24hr",
      };
    },
    dateOpts: () => {
      return { locale: "fr-fr" };
    },
    textFieldOpts: () => {
      return { outlined: "outlined", required: "required" };
    },
  },
  methods: {
    close() {
      //   this.dialog = false;
      this.$emit("dialog", false);
    },
    save() {
      console.log("save", this.formType);
      switch (this.formType) {
        case "user":
          this.$refs.userForm.validate();
          if (this.rules.valid) {
            axios
              .put(`users/${this.editedItem.id}/update`, this.editedItem)
              .then(() => {
                // this.result = "Vous avez mis à jour vos informations";
                // this.resultBool = true;
                this.$emit("item", this.editedItem, false);
                this.$emit("dialog", false);
              })
              .catch(function (error) {
                console.log(error.response);
                this.$emit("item", this.editedItem, true);
                this.$emit("dialog", false);
              });
          }

          break;
        case "room":
          this.$refs.roomForm.validate();
          if (this.rules.valid) {
            console.log("modifier", this.editedItem);
            axios
              .put(`rooms/${this.editedItem.id}`, this.editedItem)
              .then(() => {
                // this.result = "Vous avez mis à jour vos informations";
                // this.resultBool = true;
                this.$emit("item", this.editedItem, false);
                this.$emit("dialog", false);
              })
              .catch(function (error) {
                console.log(error.response);
                this.$emit("item", this.editedItem, true);
                this.$emit("dialog", false);
              });
          }
          break;
        case "timeSlot":
          this.$refs.timeSlotForm.validate();
          if (this.rules.valid) {
            console.log("modifier", this.editedItem);
            axios
              .put(`time_slots/${this.editedItem.id}`, this.editedItem)
              .then(() => {
                // this.result = "Vous avez mis à jour vos informations";
                // this.resultBool = true;
                this.$emit("item", this.editedItem, false);
                this.$emit("dialog", false);
              })
              .catch(function (error) {
                console.log(error.response);
                this.$emit("item", this.editedItem, true);
                this.$emit("dialog", false);
              });
          }
          break;
        case "reservation":
          console.log("test");
          axios
            .put(`reservations/${this.editedItem.id}`, this.editedItem)
            .then(() => {
              // this.result = "Vous avez mis à jour vos informations";
              // this.resultBool = true;
              this.$emit("item", this.editedItem, false);
              this.$emit("dialog", false);
            })
            .catch(function (error) {
              console.log(error.response);
              this.$emit("item", this.editedItem, true);
              this.$emit("dialog", false);
            });
          break;
      }
    },
    del() {
      console.log("delete");
      switch (this.formType) {
        case "user":
          axios
            .delete(`users/${this.editedItem.id}`)
            .then(() => {
              // this.result = "Vous avez mis à jour vos informations";
              // this.resultBool = true;
              this.$emit("item", this.editedItem, false, true);
              this.$emit("dialog", false);
            })
            .catch(function (error) {
              console.log(error.response);
              this.$emit("item", this.editedItem, true, true);
              this.$emit("dialog", false);
            });

          break;
        case "room":
          axios
            .delete(`rooms/${this.editedItem.id}`)
            .then(() => {
              // this.result = "Vous avez mis à jour vos informations";
              // this.resultBool = true;
              this.$emit("item", this.editedItem, false, true);
              this.$emit("dialog", false);
            })
            .catch(function (error) {
              console.log(error.response);
              this.$emit("item", this.editedItem, true, true);
              this.$emit("dialog", false);
            });
          break;
        case "timeSlot":
          axios
            .delete(`time_slots/${this.editedItem.id}`)
            .then(() => {
              // this.result = "Vous avez mis à jour vos informations";
              // this.resultBool = true;
              this.$emit("item", this.editedItem, false, true);
              this.$emit("dialog", false);
            })
            .catch(function (error) {
              console.log(error.response);
              this.$emit("item", this.editedItem, true, true);
              this.$emit("dialog", false);
            });
          break;
        case "reservation":
          axios
            .delete(`reservations/${this.editedItem.id}`)
            .then(() => {
              // this.result = "Vous avez mis à jour vos informations";
              // this.resultBool = true;
              this.$emit("item", this.editedItem, false, true);
              this.$emit("dialog", false);
            })
            .catch(function (error) {
              console.log(error.response);
              this.$emit("item", this.editedItem, true, true);
              this.$emit("dialog", false);
            });
          break;
      }
    },
  },
};
</script>