<template>
    <div>
        <component    
            v-bind:is="component" 
            v-bind:name="name" 
            v-bind:options="options" 
            v-bind:type="type"
            :value="values[name]" 
            v-bind:checked="values[name]" 
        >  
        <slot>{{ component == "textarea" ? values[name]: undefined }}</slot>                
        </component>    
    </div>
</template>
<script>

export default {
    name: "Field",
    props: {
        type: {
            required: false,
            type: String,
        },
        name: {
            required: true,
            type: String,
        },
        component: {
            type: String,
        },
        options: {
            type: Array,
            default: () => []
        }
    },
    data(){
      return {
          error: undefined
      }  
    },
    watch: {
        errors: {
            deep:true, 
            handler(val){ 
                this.error = val[this.name]
            }
        }
    },
    inject: ['values']
}
</script>