<template>
    <Vuemik :initialValues="initialValues">
        <Field name="select" component="select">
            <option value="1">Select 1</option>
            <option value="2">Select 2</option>
        </Field>
        <Field name="textarea" component="textarea" />
        <Field name="checkbox" component="input" type="checkbox" />
    </Vuemik>
</template>

<script>
    import  Vuemik from './Vuemik.vue';
    import Field from './Field.vue';
    export default {
        name: 'AppVuemik',
        components: {
            Vuemik,
            Field,
        },
        data() {
            return {
                initialValues: {
                    select: 2,
                    checkbox: true,
                    textarea: 'text long'
                }
            };
        }
    };
</script>