<template>
    <section>
        <div> 
            <h1>Vuemik</h1>
            <fieldset><slot></slot></fieldset>
        </div>
    </section>
</template>

<script>
export default {
    name: "Vuemik",
    props: {
        initialValues: {
            required: true,
            type: Object,
        },
    },
    data() {
        return {
            values: this.initialValues,
        };
    },
    provide() {
        return {
            values: this.values,
            onChange: this.handleChange,
        };
    },
}
</script>