<template>
  <div>
    <section id="room">
        <v-container> 
            <v-row>
                <div>
                  <stripe-checkout
                    ref="checkoutRef"
                    mode="payment"
                    :pk="publishableKey"
                    :line-items="lineItems"
                    :success-url="successURL"
                    :cancel-url="cancelURL"
                    @loading="v => loading = v"
                  />
                  <button @click="submit">Pay now!</button>
                </div>
            </v-row>
        </v-container>
    </section>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Checkout",
  data: () => ({
    sessionId: "",
    paymentIntent: "",
    reservationId: 1
  }),
  mounted() {
    this.setUpStripe();
    console.log("stripe")
    this.reservationId = 1
  },
  methods: {
    async submit() {
      delete axios.defaults.headers.common["Authorization"];
      await axios.post(
        "http://35.187.15.66:3002/checkout", {
          "price": 15,
          "name": "room1",
          "description": "room2",
          "quantity": 5,
          "reservationId": this.reservationId
        }).then(
          (result)=> { 
            console.log(result.data)
            this.sessionId = result.data.id
            this.paymentIntent = result.data.payment_intent
            window.open(result.data.url)
          }
        ).then(()=>{
          axios
            .put("/reservations/" + this.reservationId, {
              sessionId: this.sessionId,
              paymentIntent: this.paymentIntent
            })
          }).then(
          ()=> console.log("ok")
        )
    }
  }
}
</script>