<style scoped>

header {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/lost.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header .top-gradient {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    flex-grow: 1;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 100%
    );
}
.header-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header-wrapper .sub-title {
    font-size: 36px;
}

.header-wrapper .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    flex-grow: 2;
    margin-bottom: 200px;
}

.header-wrapper .content-wrapper .main-title {
    margin-bottom: 16px;
}

header h1 {
    letter-spacing: 12px;
    margin-bottom: 0 !important;
}

@media screen and (max-width: 675px) {
    .content-wrapper {
        padding: 0 20px;
        margin-bottom: 100px !important;
    }

    .content-wrapper button {
        margin: 0 auto;
    }
}
</style>
<template>
    <div>        
        <header class="overflow-hidden">
            <div class="top-gradient"></div>
            <div class="container header-wrapper">
                <div class="content-wrapper">
                    <h1 class="main-title">
                        <br />
                        Error!
                    </h1>
                    <div class="sub-title">Checkout process didn't go through!</div>
                </div>
            </div>
        </header>
    </div>
</template> 

<script>
export default {
    name: "Failed",
    mounted() {
      setTimeout(function() {
          window.close()
      }, 5000);
  },
};

</script>
