<style>
.card-form {
    max-width: 570px;
    margin: auto;
    width: 100%;
}
.card-form__inner {
    margin-top: 90px;
    margin-bottom: 90px;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 10px;
    padding: 20px;
}

.card-form .errors {
    color: red;
}

.card-input h4 {
    text-align: center;
}
.card-form__row {
    display: flex;
    align-items: flex-start;
}
.card-form__col {
    flex: auto;
    margin-right: 15px;
}
.card-form__col:last-child {
    margin-right: 0;
}
.card-form__col.-cvv {
    max-width: 150px;
}
.card-form__group {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.card-form__group .card-input__input {
    flex: 1;
    margin-right: 15px;
}
.card-form__group .card-input__input:last-child {
    margin-right: 0;
}
.card-form__button {
    width: 100%;
    height: 55px;
    background: #38a294 !important;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
    color: #fff !important;
    margin-top: 20px;
    cursor: pointer;
}
.card-input {
    margin-bottom: 20px;
}
.card-input__label {
    margin-bottom: 5px;
    color: #1a3b5d;
    width: 100%;
    display: block;
    text-align: left;
}
.card-input__input {
    width: 100%;
    height: 41px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #aaaaaa;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
}
.card-input__input:hover,
.card-input__input:focus {
    border-color: #38a294;
}
.card-input__input:focus {
    box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}
.card-input__input.-select {
    -webkit-appearance: none;
    background-size: 12px;
    background-position: 90% center;
    background-repeat: no-repeat;
    padding-right: 30px;
}

.card-form__button:disabled,
.card-form__button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}
</style>
<template>
    <v-form ref="form" v-model="valid" @submit.prevent class="card-form">
        <div class="card-form__inner">
            <div class="card-input">
                <h4>Paiement de {{ price }}€</h4>
                <label for="cardNumber" class="card-input__label">
                    Numéro de carte
                </label>
                <v-text-field
                    id="cardNumber"
                    v-model="cardNumber"
                    :rules="cardNumberRules"
                    placeholder="1234 5678 9101 2345"
                    color="deep-purple"
                    required
                    dense
                    outlined
                ></v-text-field>
            </div>
            <div class="card-input">
                <label for="cardName" class="card-input__label">
                    Nom Prénom
                </label>
                <v-text-field
                    id="name"
                    v-model="name"
                    :rules="nameRules"
                    placeholder="Antoine Dupont"
                    color="deep-purple"
                    required
                    dense
                    outlined
                ></v-text-field>
            </div>
            <div class="card-form__row">
                <div class="card-form__col">
                    <div class="card-form__group">
                        <label for="cardMonth" class="card-input__label">
                            Date d'expiration
                        </label>
                        <v-select
                            class="card-input__input -select"
                            id="expireMonth"
                            :items="expireMonth"
                            @change="checkFields"
                            :rules="[(v) => !!v || 'Item is required']"
                        >
                        </v-select>
                        <v-select
                            class="card-input__input -select"
                            id="expireYear"
                            @change="checkFields"
                            :items="expireYear"
                        >
                        </v-select>
                    </div>
                </div>
                <div class="card-form__col -cvv">
                    <div class="card-input">
                        <label for="cardCvv" class="card-input__label"
                            >CVC</label
                        >
                        <v-text-field
                            id="cvc"
                            v-model="cvc"
                            :rules="cvcRules"
                            placeholder="123"
                            color="deep-purple"
                            required
                            dense
                            outlined
                        ></v-text-field>
                    </div>
                </div>
            </div>
            <v-btn
                :disabled="!valid"
                @click="checkForm"
                class="card-form__button"
                >Valider</v-btn
            >
        </div>
    </v-form>
</template>

<script>
export default {
    data() {
        return {
            valid: true,
            price: 57,
            cardNumber: null,
            expireMonth: [
                "01",
                "02",
                "03",
                "04",
                "05",
                "06",
                "07",
                "08",
                "09",
                "10",
                "11",
                "12",
            ],
            expireYear: [],
            name: null,
            cvc: null,
            currentYear: new Date().getFullYear(),
            cardNumberRules: [
                (v) => !!v || "Obligatoire",
                (v) => (v && v.length == 16) || "Doit contenir 16 chiffres",
                (v) => /^[0-9]*$/.test(v) || "Doit contenir 16 chiffres",
            ],
            nameRules: [
                (v) => !!v || "Obligatoire",
                // (v) => (v && v.length == 16) || "Doit contenir 16 chiffres",
                (v) =>
                    /^[A-Za-z ]+$/.test(v) ||
                    "Doit être composé uniquement de lettres et d'espace",
                // (v) => /.+@.+\..+/.test(v) || "E-mail doit être valide",
            ],
            expireRules: [
                (v) => !!v || "Obligatoire",
                (v) => v.length > 0 || "Item is required in select 2",
            ],
            cvcRules: [
                (v) => !!v || "Obligatoire",
                (v) => (v && v.length == 3) || "Doit contenir 3 chiffres",
                (v) => /^[0-9]*$/.test(v) || "Doit contenir 3 chiffres",
            ],
        };
    },
    async mounted() {
        for (let i = 1; i < 12; i++) {
            this.expireYear.push(i + this.currentYear);
        }
    },
    methods: {
        checkForm: function (e) {
            e.preventDefault();

            this.$router.push("/");
        },
    },
};
</script>
